.TC-cstm {
    margin-top: 150px;
    margin-bottom: 100px;
}

.TC-cstmTA {
    background: white;
}


/* -------------mobile view---------- */

@media only screen and (max-width: 480px) {

    .TC-cstm {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}