/* dropdown */
.cstm-CQuiz-dropdownmenu a {
    border-bottom: #C9C9C9 solid 1px;
}

.CQuizes-container .button{
    font-size: 12px;
    font-family: Poppins;
    background: #05CC69;
    color: white;
}

/* modal */
/* modal label */
.CQMlabel {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}
/* modal input field */
.CQMfield {
    border: #CAC6D4 solid 1px;
    height: 30px;
    border-radius: 5px;
}