
body {
    font-family: Poppins;
}

p {
    font-size: 14px !important;
    font-family: Muli !important;
    color: #7A7A7A !important;
}

h4 {
    font-size: 18px;
    color: #302D3A;
}

h5 {
    font-size: 16px;
    color: #302D3A;
}

.TI-C1-R1{
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.TI-C1-R1 > a {
    padding: 0px !important;
}

.TI-C1-R2{
    padding-top: 20px;
    display: grid;
    
}
.TI-C1-R2 > div :nth-child(1) {
    padding-right: 0px;
}
.TI-C1-R2 > div :nth-child(2) {
    padding-left: 0px;
}
.TI-C1-R2 > div :nth-child(2) > p {
    text-align: left;
}

.TI-C1-R3 > div > a > img {
    height: 50px;
    width: 210px;
}
.TI-C1-R3 > div {
    display: flex;
    justify-content: flex-start;
}
.TI-C1-R3 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.TI-C1-R3 > div :nth-child(2) {
    margin: 3px 0px;
}


/* -------------tab view---------- */


@media only screen and (max-width: 767px){


    .TI-containerfluid .TI-C1-R3 .row {

        display: flex;
        flex-direction: column;

    }

}