
.Country .MuiPaper-root {
    width: 92%;
}

.Country .MuiPaper-root .MuiTableFooter-root .MuiSelect-icon {
    margin-top: 0;
}

.Country .MuiPaper-root .MuiIconButton-label .MuiSvgIcon-root {
    margin-top: 0;
}