/* container */
.Assessment-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* tab area */
.cstm-Assessmenttab .nav {
    flex-wrap: nowrap;
    border: none;
}
.cstm-Assessmenttab > ul > li > a {
    font-size: 18px !important;
    color: #544E7A !important;
    background: #EFEFF6 !important;
    border: none !important;
    font-family: Poppins !important;
    border-radius: 5px !important;
}

.cstm-Assessmenttab .nav-link.active {
    color: #fff !important;
    background: #05CC69 !important;
    
}


/* ------- mobile view-------- */

@media only screen and (max-width: 480px) {
    
    .cstm-Assessment-padding {
        padding: 0 15px;
    }

}




