
/* table text */
.Tablestructurefinance .tabletext {
    color: #171B1E;
    font-size: 16px;
    font-family: system-ui;
}

/* button */
.Tablestructurefinance .button {
    font-size: 16px;
    font-family: system-ui;
    color: #09BD3C;
    text-align: center;
    border: none;
}
