.CTcontainer {
    background: #FEF0EF;
}

.CTcontainer .tp{
    font-size: 24px !important;
    color: #302D3A !important;
    font-family: Poppins !important;
}

.CTcontainer .APDV {
    color: #CAC6D4 !important;
    font-size: 18px !important;
    font-family: Poppins !important;
}

.CTcontainer .button {
    background: #05CC69;
    font: 18px;
    font-family: Poppins;
    color: white;
}

.CTcontainer .input {
    border-radius: 5px;
    border: #05CC69 solid 1px;
    height: 36px;

}