/* create new quiz button */
.CAbutton {
    background: #05CC69;
    font-size: 11px;
    font-family: Poppins;
    color: white;
}
.CAbutton :hover {
    color: white;
}

/* pagination
.CA-pagination .page-item.active {
    background: #05CC69 !important;
} */

/* MOdal heading */
.CAMheader {
    font-size: 18px;
    font-family: Poppins;
    color: #5F5982;
}
/* modal label */
.CAMlabel {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
    
}
/* modal input field */
.CAMfield {
    border: #CAC6D4 solid 1px;
    height: 30px;
    border-radius: 5px;
    
}
.CAMfield::placeholder {
    color: #7A7A7A;
}
/* modal button */
.CAMbutton {
    background: #05CC69;
    font-size: 15px;
    font-family: Poppins;
    color: white;
}
.CAMbutton:hover {
    background: #05CC69;
    color: white;
}
.CAMbutton-red {
    background: #F56962;
    font-size: 15px;
    font-family: Poppins;
    color: white;
}.CAMbutton-red:hover {
    background: #F56962;
    color: white;
}

/* pagination */
.CA-pagination .page-item.active .page-link  {
    background-color: #05CC69;
} 