.Course-container {
    padding: 0px;
}

.Course-R1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}
.Course-R1 > h4 {
    font-size: 40px;
    color: #302D3A;
    font-family: Poppins;
}
.Course-R1 > button {
    font-size: 18px;
    font-family: Poppins;
    border: #CAC6D4 solid 1px;
    color: #5F5982;
}