/* block and delete profile button */
.SPProfile .button {
    color: white;
    font-size: 18px;
    font-family: system-ui;
    background: #FF6175;
    border-radius: 15px;
  }
  /* back arrow button */
  .SPProfile .btnbackarrow {
      background: #05CC69;
      color: white;
      border-radius: 15px;
  }