/* text and discount size */
.Educard .td {
    font-size: 16px !important;
    font-family: Poppins !important;
}
/* text color */
.Educard .textcolor {
    color: #5F5982 !important;
}
/* discount color */
.Educard .discolor {
    color: white !important;
}

/* title */
.Educard .title {
    font-size: 22px;
    font-family: Poppins;
    color: #302D3A;
}

/* discount value */
.Educard .dvalue {
    font-size: 40px;
    font-family: Poppins;
    color: white;
}

/* side image */
.Educard .sideimg {
    height: 274px;
    width: 165px;
    background-color: lightgrey;
}

/* backgroung img */
.Educard .backimg {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* discount div */
.Educard .disdiv {
    background: #B3A092;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: -14px;
    padding: 5px 20px;
}

/* line height */
.Educard .cstm-lineheight {
    line-height: 4;
}


/* ------tab view */

@media only screen and (max-width: 767px){
    .EduStdCrdcontainer .EduStdCrd-R2 .cstm-padding {
        padding: 15px;
    }
}