/* -------------------Top education--------- */
.EduStdCrdcontainer .heading {
    font-size: 40px;
    font-family: Poppins;
    color: #302D3A;
}


/* ------tab view */

@media only screen and (max-width: 767px){
    .EduStdCrdcontainer .heading {
        font-size: 29px;
    }
    .EduStdCrdcontainer .cstm-r1 .cstm-col2 {
        justify-content: flex-start !important;
    }
}

/* ------mob view */

@media only screen and (max-width: 480px){
    .EduStdCrdcontainer .cstm-r1 {
        padding: 24px 15px;
    }
    .EduStdCrdcontainer .EduStdCrd-R2 {
        padding: 0 30px;
    }
}