/* create new quiz button */
.QRbutton {
    background: #05CC69;
    font-size: 11px;
    font-family: Poppins;
    color: white;
    text-align: end;
}

/* pagination */
.CQR-pagination .page-item.active {
    background: #05CC69 !important;
}