.VideoListContainer .heading {
    font-size: 20px;
    font-family: system-ui;
    color: #171B1E;
}
.VideoListContainer .text {
    font-family: system-ui !important;
    font-size: 14px !important;
    color: #717579 !important;
}

/* container */
.VideoListContainer {
    background: white;
    border-radius: 15px;
    border: none;
}


/* more videos */
.VideoListContainer .morevideos {
    font-family: system-ui ;
    font-size: 14px ;
    color: #FF6175 ;
}

.VideoListContainer .fa-chart-bar {
    color: #FF6175 ;
}