.CDcontainer {
    background: #FEF0EF;
}

.CDcontainer .tp{
    font-size: 24px !important;
    color: #302D3A !important;
    font-family: Poppins !important;
}
.CDcontainer .cardtype{
    font-size: 18px !important;
    color: #302D3A !important;
    font-family: Poppins !important;
}

.CDcontainer .APDV {
    color: #CAC6D4 !important;
    font-size: 18px !important;
    font-family: Poppins !important;
}

.CDcontainer .button {
    background: #05CC69;
    font: 18px;
    font-family: Poppins;
    color: white;
}

.CDcontainer .input {
    border-radius: 5px;
    border: #CAC6D4 solid 1px;
    height: 36px;

}