
body {
    background: #F1F3F8;
}

.sp-cstmTA {
    margin-top: 150px;
    background: white;
    /* padding: 7px 42px; */
    /* width: 62%; */
}
.sp-cstmTI {
    margin-top: 150px;
    background: white;
    /* padding: 7px 7px; */
    /* width: 32%; */
    padding: 0px;
}

.sp-cstm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}