
/* table text */
.Tablestructure .tabletext {
    color: #171B1E;
    font-size: 16px;
    font-family: system-ui;
}

/* button */
.Tablestructure .button {
    font-size: 16px;
    font-family: system-ui;
    color: white;
    text-align: center;
    border-radius: 15px;
}
.Tablestructure .red {
    background: #FF6175;
}
.Tablestructure .green {
    background: #05CC69;
}
.Tablestructure .yellow {
    background: #FFAA2A;
}