/* container fluid */
.T_C-banner-containerfluid {
    background: #005D8A;
    margin-bottom: 40px;
}

/* container */
.T_C-banner-containerfluid .Banner-container {
    display: flex;
    width: 800px;
}

/* Banner Heading 1 */
.T_C-banner-containerfluid .Banner-col1 > h3 {
    font-size: 30px !important;
    color: #fff !important;
    font-family: Poppins !important;
    font-weight: bold;
}

/* Banner Heading 2 */
.T_C-banner-containerfluid .Banner-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.T_C-banner-containerfluid .Banner-col2 > h5 {
    font-size: 18px !important;
    color: #fff !important;
    font-family: Poppins !important;
}

/* ----mobile view------ */
@media only screen and (max-width: 425px) {
    .T_C-banner-containerfluid .Banner-col2 {
        padding-top: 10px;
        text-align: left !important;
    }
}