/* table */
.Tablestructurefinance .tb-style {
    border-radius: 15px;
    background: white;
}

/* table heading */
.Tablestructurefinance .tableheading {
    font-size: 20px;
    font-family: system-ui;
    font-weight: bold;
    color: #171B1E;
}