/* heading */
.calendar-column .heading {
    font-size: 18px;
    color: #5F5982;
    font-family: Poppins;
}

/* text */
.calendar-column .text {
    font-size: 13px !important;
    font-family: Poppins !important;
    color: #5F5982 !important;
}

/* button */
.calendar-column .button{
    font-size: 15px;
    background: #05CC69;
    color: white;
}

/* calender */
/* calendar nav */
.cstm-calendar .react-calendar__navigation {
    padding-bottom: 10px;
}
/* nav label */
.cstm-calendar .react-calendar__navigation__label {
    background: white;
    border: none;
    font-family: Poppins;
    color: #5F5982;
    font-size: 18px;
}
/* preview 2 button */
.cstm-calendar .react-calendar__navigation__prev2-button {
    background: white;
    border: none;
}
/* preview button */
.cstm-calendar .react-calendar__navigation__prev-button {
    background: white;
    border: none;
}
/* next 2 button */
.cstm-calendar .react-calendar__navigation__next2-button {
    background: white;
    border: none;
}
/* next button */
.cstm-calendar .react-calendar__navigation__next-button {
    background: white;
    border: none;
}
/* month view week days */
.cstm-calendar .react-calendar__month-view__weekdays {
    text-align: center;
    font-family: Poppins;
    color: #5F5982;
    font-size: 18px;
}
/* weekdays text */
.cstm-calendar abbr {
    text-decoration: none !important;
    color: #5F5982;
    font-size: 18px !important;
    font-family: Poppins;
}
/* month view */
.cstm-calendar .react-calendar__month-view {
    line-height: 2;
}
/* month view days button */
/* .cstm-aclendar .react-calendar__month-view__days > button {
    border: none;
    background: none;
} */
.cstm-calendar .react-calendar__tile {
    border: none;
    background: none;
    border-radius: 100%;
}
.cstm-calendar .react-calendar__tile:focus {
    background: #F56962;
    color: white !important;
}
/* month view days button text */

