.collapse.width {
    width: 0;
    max-width: 0;
    height: 100%;
    transition: right 0.3s linear, max-width 0.3s linear;
    position: relative;
    top: 0;
    right: 100%;
    left: 0;
    display: block;
    overflow: hidden;
  }
  
  .vh-100 {
      min-height: 100vh;
  }
  
  .collapsing.width {
    transition: right 0.3s linear, max-width 0.7s linear;
    width: 0% !important;
    height: 100%;
    max-width: 0% !important;
    min-width: 0;
    right: 0;
    position: relative;
    display: block;
  }
  
  .collapse .list-group-item {
    white-space:nowrap
  }
  
  .collapse.width.show {
    transition: right 0.3s linear, max-width 0.3s linear;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 50px;
    right: 0;
    position: relative;
    display: block;
  }


  /* container */
  .mySideNavBar {
    background: #FBFBFB;
  }
  /* dashboard */
  .mySideNavBar .dbtext {
    color: #171B1E;
    font-size: 32px;
    font-family: monospace;
  }
  /* search bar */
  .mySideNavBar .dbsearch-div {
    border: #EEEEEE solid 1px;
    border-radius: 15px;
  }
  .mySideNavBar .dbsearch {
    color: #717579;
    font-size: 14px;
    font-family: monospace;
    background: none;
    border: none;
  }
  /* language button english */
  .mySideNavBar .db-button {
    color: #FF6175;
    font-size: 16px;
    font-family: monospace;
    border: #FF6175 solid 1px;
    border-radius: 15px;
    background: none;
  }
  
  /* badge style */

  .mySideNavBar .badge-style {
    border-radius: 50%;
    padding: 5px;
    border: white solid 2px;
  }
  /* badge clr yellow */
  .mySideNavBar .clr-yellow {
    background: #FFAA2A;
    position: absolute;
    top: -12px;
    right: -8px;
  }
  /* badge clr green */
  .mySideNavBar .clr-green {
    background: #09BD3C;
    position: absolute;
    top: -12px;
    right: -8px;
  }
  /* badge clr red */
  .mySideNavBar .clr-red {
    background: #FD5353;
    position: absolute;
    top: -12px;
    right: -8px;
  }
  /* badge text */
  .mySideNavBar .badge-text {
    font-size: 14px !important;
    font-family: monospace !important;
  }


  /* ........tabs dashboard, student,teachers,settings,................. */

.mySideNavBar .nav {
  flex-wrap: nowrap;
  border: none;
}

.mySideNavBar .nav-link {
  font-size: 18px !important;
  font-family: sans-serif;
  color: #717579!important;
  background: none !important;
  border: none !important;
}
/* .SPVHA-cstm-section-R2 > ul > li > a:active {
  color: #F56962 !important;
  border-bottom: #F56962 solid 3px !important;
} */

.mySideNavBar .nav-link.active {
  color: #FF6175 !important;
  border-left: #FF6175 solid 1px !important;
}


/* ---------side nav area--------- */

/* zmk title */
.mySideNavBar .zmk {
  color: #171B1E;
  font-size: 25px;
  font-family: monospace;
}
/* super admin, admin dashboard */
.mySideNavBar .sidebar-text {
  color: #717579 !important;
  font-size: 14px !important;
  font-family: monospace !important;
}
/* profile name   etc: alishan nawaz */
.mySideNavBar .button {
  display: flex;
  border: #EEEEEE solid 1px;
  border-radius: 15px;
  align-items: center;
}
.mySideNavBar .dropdown > .dropdown-toggle::after {
  color: #EEEEEE;
}
.mySideNavBar .proName {
  color: #171B1E;
  font-size: 16px;
  font-family: sans-serif;
}
/* main menu */
.mySideNavBar .mainMenu {
  color: #171B1E;
  font-size: 18px;
  font-family: monospace;
}

/* footertext side bar*/
.mySideNavBar .sidebar-footer-text1 {
  font-size: 12px !important;
  font-family: sans-serif !important;
  color: #171B1E !important;

}
.mySideNavBar .sidebar-footer-text2 {
  font-size: 12px !important;
  font-family: sans-serif !important;
  color: #717579 !important;

}

.mySideNavBar .cstm-overflow {
  overflow: scroll;
  height: 50vh;
}

