/* Create new quiz */
.SQ-btn {
    font-size: 22px;
    color: #5F5982;
    font-family: Poppins;
}

/* Questions h5 */
.SQ-Questions h5 {
    color: #5F5982;
    font-size: 14px;
    font-family: Poppins;
}
/* Questions p */
.SQ-Questions p {
    color: #5F5982;
    font-size: 15px;
    font-family: Poppins;
    background: white;
    border-radius: 5px;
}
/* radio button */
.SQ-Questions .form-check-input:checked {
    background: #05CC69 !important;
}
