/* Create new quiz */
.NQ-btn {
    font-size: 22px;
    color: #5F5982;
    font-family: Poppins;
}

/* form label */
.NQlabel {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}
/* modal input field */
.NQfield {
    border: #CAC6D4 solid 1px;
    height: 30px;
    border-radius: 5px;
}
