


.StdOV-container .heading {
    font-size: 20px;
    color: #302D3A;
    font-family: Poppins;
}

.StdOV-container .paragraph {
    font-size: 14px;
    color: #5F5982;
    font-family: Poppins;
    text-align: justify;
}