/* video player */
.StdCI-myplayer .video-react {
    height: 78px !important;
    width: 72px !important;
}
.StdCI-myplayer .video-react-big-play-button {
    /* height: 30px !important; */
    width: 35px !important;
    
}

/* row */
.StdCI {
    border: #CAC6D4 solid 1px;
    border-radius: 5px;
}
/* title and price */
.StdCI .tp {
    font-size: 23px !important;
    font-family: Poppins !important;
    color: #302D3A !important;
}
/* name */
.StdCI .name {
    font-size: 14px !important;
    color: #7A7A7A !important;
    font-family: Poppins !important;
}
/* actual price and discount value */
.StdCI .APDV{
    font-size: 16px !important;
    color: #CAC6D4 !important;
    font-family: Poppins !important;
}