/* container fluid background color */
.TrustedPartners-containerfluid-1 {
    margin-top: 80px;
    padding-bottom: 80px;
}

/* TrustedPartners-container-1 */
.TrustedPartners-container-1 {
    /* height: 310px; */
    /* width: 830px; */
    margin-top: 40px;
}

/* TrustedPartners row 1 */
.TrustedPartners-row-1 {
    display: flex;
    justify-content: space-between;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* Get choice of Your Courses (heading) */
.TrustedPartners-row-1 > h4 {
    color: #302D3A;
    font-size: 27px;
    font-family: Poppins;
}

/* arrow (button 1) */
.TrustedPartners-row-1-btn-1 {
    background: #EFEFF6;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* arrow (button 2) */
.TrustedPartners-row-1-btn-2 {
    background: #EFEFF6;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.TrustedPartners-row-2 {
    display: flex;
    justify-content: space-between;
}

/* row 2 (images) */
.TrustedPartners-row-2 > img {
    height: 66px;
    width: 106px;
    background-color: #EFEFF6;
    margin-left: 5px;
    margin-right: 5px;
}


/* carousel */
.cstm-carousel1 .slick-slider {
    width: 100%;
}
.cstm-carousel1 img {
    margin-left: 8px;
    margin-right: 8px;
}
.cstm-carousel1 .slick-prev {
    background: #302D3A;
}
.cstm-carousel1 .slick-next {
    background: #302D3A;
}

/* mobile view @media only screen and (max-width: 767px) */
@media only screen and (max-width: 425px){

    .cstm-carousel1 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .TrustedPartners-containerfluid-1 .cstm-h4 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 375px){
    .TrustedPartners-containerfluid-1 .cstm-h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px){
    .TrustedPartners-containerfluid-1 .cstm-h4 {
        font-size: 16px;
    }
}