
/* background color */


  .header-padding{
  padding-left: 5%;
  padding-right: 5%;
  }
  /* container */
  .cstm-container {
    border-radius: 20px !important;
    /* height: 498px !important; */
    margin-bottom: 15px;
  }
  
  /* heading */
  .cstm-container .banner-heading {
    font-size: 50px;
    color: #fff;
   
    margin-bottom: 24px;
  }
  
  /* paragraph */
  .cstm-container .banner-descr {
    font-size: 18px !important;
    color: #fff !important;
    font-family: Poppins !important;
    text-align: left;
    margin-bottom: 24px !important;
  }
  
  /* search-inputflied */
  .search-inputflied {
    position: relative;
    
  }
  
  
  
  /* input field button */
  .cstm-container > div > div > a> img {
    height: 50px !important;
    width: 72px !important;
    position: absolute !important;
  }
  
  /* banner-image */
  /* .cstm-banner-image {
    position: relative;
  }
  .cstm-banner-image > img {
    position: absolute;
  
    width: 700px;
    bottom: -48px;
    right: -39px;
  } */
  
  .btn-danger{
    background-color: #F56962 !important;
    border: 1px solid #F56962 !important;
    font-size: 18px;
  }
  .seacrh_icon_width{
    width: 50px;
  }


  /* --------mobile view----------------- */

  @media only screen and (max-width: 425px) {
    .Got-A-Question .cstm-container .banner-heading {
      font-size: 20px;
      font-weight: bold;
    }
    .Got-A-Question .cstm-banner-image {
      padding-top: 30px;
    }
  }

  /* --------tab view----------------- */

  @media (min-width: 426px)  and (max-width: 767px) {
    .Got-A-Question .cstm-banner-image {
      padding-top: 30px;
    }
  }