.StdCu-container > :nth-child(1) {
    background: #FEF9E5;
}
.StdCu-container > :nth-child(2) {
    background: #F4F9FD;
}
.StdCu-container > :nth-child(3) {
    background: rgb(67, 200, 177, 10%);
}