/* ----------------------------course over view---------------- */
/* container */
.CourseStdcontainer {
    /* margin-bottom: 100px; */
}

/* ----------------- */




/* Course Title */
.CourseStd-mytitle {
    color: white;
    font-size: 28px;
    font-family: Poppins;
}

/* my white */
.my-white {
    color:white !important;
}

/* R1 p tag */
.CourseStd > div > div > div > p {
    color: #5F5982;
    font-size: 12px;
    font-family: Poppins;
}

/* R1 img tag */
.CourseStd > div > div > div > img {
    height: 21px;
    width: 22px;
    margin-right: 5px;
}

/* tab area */
.CourseStd-cstmtab .nav {
    flex-wrap: nowrap;
    border: none;
}
.CourseStd-cstmtab > ul > li > a {
    font-size: 13px !important;
    color: #544E7A !important;
    background: #EFEFF6 !important;
    border: none !important;
    font-family: Poppins !important;
    border-radius: 5px !important;
}

.CourseStd-cstmtab .nav-link.active {
    color: #fff !important;
    background: #F68C20 !important;
    
}


/* card */
.CourseStd-mycard .card {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.15);
}

.CourseStd-mycard .card-header {
    background: white;
    border-bottom: none;
    padding-bottom: 0px;
    padding-top: 20px;
}
.CourseStd-mycard h4 {
    font-size: 30px;
    color: #302D3A;
    text-align: center;
}
.CourseStd-mycard .card-body {
    padding-top: 10px;
}
.CourseStd-mycard .card-title{
    font-size: 20px;
    color: #302D3A;
}
.CourseStd-mycard .card-text{
    font-size: 14px;
    color: #5F5982;
}
.CourseStd-mycard > div > :nth-child(2) > div > img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.CourseStd-cstmcard-footer .card-title {
    font-size: 18px !important;

}
.CourseStd-cstmcard-footer img {
    height: 30px !important;
    width: 30px !important;
}

/* -------------more courses you might like------------------ */
.CrsStdCrdcontainer .heading {
    font-size: 40px;
    font-family: Poppins;
    color: #302D3A;
}
.CrsStdCrdcontainer .dropdownbtn {
    color:#484271
}

/* ----------- i believe----------- */

.CrsStd-ibelieve-section-inner{
    background: #EFFCFA;
    padding:48px;
}
.CrsStd-ibelieve-section-inner-content{
    padding:20px 60px;
}
.CrsStd-ibelieve-section-inner-content p{
    color:#302D3A;
    text-align:inherit;
    font-size:32px !important;
    font-weight:300;

}
.CrsStd-IBelieve-author p{
    text-align:inherit;
    padding-left:60px;
}


/* ------tab view */

@media only screen and (max-width: 767px) {
    .CrsStdCrdcontainer .heading {
        font-size: 30px;
    }
    .CrsStdCrdcontainer .cstm-r1 .cstm-col2 {
        flex-direction: row-reverse;
        justify-content: flex-end !important;
    }
}

/* ------mobile view */

@media only screen and (max-width: 480px) {
    .CrsStdCrdcontainer .cstm-r1 {
        padding: 24px 15px;
    }
    .CrsStdCrdcontainer .CrsStdCrd-R2 {
        padding: 0 15px;
    }

    .CrsStd-ibelieve-section-inner .cstm-p {
        font-size: 28px !important;
    }
}


