/* search bar */
.DBstdprofilev1 .dbsearch-div {
    border: #EEEEEE solid 1px;
    border-radius: 15px;
    background: white;
  }
  .DBstdprofilev1 .dbsearch {
    color: #717579;
    font-size: 14px;
    font-family: system-ui;
    border: none;
  }
  /* language button english */
  .DBstdprofilev1 .db-button {
    color: #171B1E;
    font-size: 18px;
    font-family: system-ui;
    border: none;
    border-radius: 15px;
    background: white;
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
  }
  .DBstdprofilev1 .db-button:focus-visible {
    outline: none;
  }

  .DBstdprofilev1 .newstd {
    color: white;
    font-size: 18px;
    font-family: system-ui;
    background: #FF6175;
    border-radius: 15px;
  }
  
  /* pagination */
  .DBstdprofilev1 .page-link {
    font-size: 18px;
    color: #FF6175;
    background: none;
    font-family: system-ui;
    border-radius: 10px;
    border: none;
  }
  .DBstdprofilev1 .page-link.active {
    color: white;
    background: #FF6175;
  }