/* video player */
.my-player .video-react {
    height: 78px !important;
    width: 72px !important;
}
.my-player .video-react-big-play-button {
    /* height: 30px !important; */
    width: 35px !important;
    
}

/* button */
.Cu-button {
    background: #F68C20;
    color: white;
    font-size: 11px;
    font-family: Poppins;
}

/* text p tag*/
.Cu-text {
    color: #F68C20 !important;
}

/* ---------mobile view------------------ */

@media only screen and (max-width: 480px){

    .Cu-container .Cu-h5 {
        font-size: 11px !important;
    }
    .Cu-container .Cu-text {
        font-size: 11px !important;
    }

}

/* ---------tab view------------------ */

@media only screen and (max-width: 767px){

    .Cu-container .Cu-h5 {
        font-size: 14px !important;
    }
    .Cu-container .Cu-text {
        font-size: 12px !important;
    }

}
