/* container */
.StdAssessment-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* tab area */
.cstm-StdAssessmenttab .nav {
    flex-wrap: nowrap;
    border: none;
}
.cstm-StdAssessmenttab > ul > li > a {
    font-size: 18px !important;
    color: #544E7A !important;
    background: #EFEFF6 !important;
    border: none !important;
    font-family: Poppins !important;
    border-radius: 5px !important;
}

.cstm-StdAssessmenttab .nav-link.active {
    color: #fff !important;
    background: #005D8A !important;
    
}




