/* container fluid */
.banner-containerfluid {
    background: #005D8A;
    margin-bottom: 40px;
}

/* container */
.Banner-container {
    display: flex;
    /* width: 800px; */
}

/* Banner Heading 1 */
.Banner-col1 > h3 {
    font-size: 30px !important;
    color: #fff !important;
    font-family: Poppins !important;
    font-weight: bold;
}

/* Banner Heading 2 */
.Banner-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.Banner-col2 > h5 {
    font-size: 18px !important;
    color: #fff !important;
    font-family: Poppins !important;
}