/* container */
.shd-container {
    margin-top: 150px;
    margin-bottom: 100px;
}


/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .cstm-mySchedule-padding {
        padding: 0 15px;
    }
    .shd-container .cstm-div {
        display: flex;
        flex-direction: column;
    }

}

/* -------------tab view---------- */


@media only screen and (max-width: 767px){

    .shd-container .cstm-div {
        display: flex;
        flex-direction: column;
    }

}

