/* @media only screen and (min-width: 992px) {} */
body {
    font-family: Poppins;
}
p {
    margin: 0px !important;
}


/* cstm container fluid */
.SPVHA-containerfluid {
    background-image: url('../../../images//Bg.png');
    height: 279px;
    padding-top: 100px;
    
    
}

/* cstm container */
.SPVHA-cstm-section-R1 {
    margin-bottom: 60px;
    align-items: center;
}


/* heading */
.SPVHA-container > h3 {
font-size: 40px !important;
color: #fff !important;

}

/* ----------------section containg details----------------------------------- */
.cstm-section {
background: white;
/* height: 200px; */
margin-top: 30px;
z-index: 1;
}

/* img */



/* R1 ---Paul-walker--- */
/* heading */
.SPVHA-container .name{
    color: #302D3A;
    font-size: 22px;
    font-family: Poppins;

}


/* buttons area lectures & messages */

.SPVHA-container .button {
    font-size: 14px;
    color: white;
    font-family: Poppins;
}
.SPVHA-container .button:hover {
    color: white;
}
.SPVHA-container .btnred {
    background: #F56962;
}
.SPVHA-container .btngreen {
    background: #05CC69;
    
}


/* about courses review area */

.SPVHA-cstm-section-R2 .nav {
    flex-wrap: nowrap;
    border: none;
}
.SPVHA-cstm-section-R2 > ul > li > a {
    font-size: 16px !important;
    color: #544E7A !important;
    background: none !important;
    border: none !important;
}
/* .SPVHA-cstm-section-R2 > ul > li > a:active {
    color: #F56962 !important;
    border-bottom: #F56962 solid 3px !important;
} */
.SPVHA-cstm-section-R2 .nav-link.active {
    color: #F56962 !important;
    border-bottom: #F56962 solid 1px !important;
}

/* .SPVHA-cstm-section-R2{
    justify-content: space-around;
}
.SPVHA-cstm-section-R2 > a > button {
    font-size: 16px;
    color: #544E7A;
    background: none;
    border: none;
    padding-bottom: 10px;
}
.SPVHA-cstm-section-R2 > a > button:hover {
    color: #F56962;
    border-bottom: #F56962 solid 1px;
    
} */