


/* Course Title */
.my-title {
    color: #5F5982;
    font-size: 28px;
    font-family: Poppins;
}

/* R1 p tag */
.CD-R1 > div > div > div > p {
    color: #5F5982;
    font-size: 12px;
    font-family: Poppins;
}

/* R1 img tag */
.CD-R1 > div > div > div > img {
    height: 21px;
    width: 22px;
    margin-right: 5px;
}

/* tab area */
.cstm-tab .nav {
    flex-wrap: nowrap;
    border: none;
}
.cstm-tab > ul > li > a {
    font-size: 13px !important;
    color: #544E7A !important;
    background: #EFEFF6 !important;
    border: none !important;
    font-family: Poppins !important;
    border-radius: 5px !important;
}

.cstm-tab .nav-link.active {
    color: #fff !important;
    background: #F68C20 !important;
    
}


/* card */
.my-card .card {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.15);
}

.my-card .card-header {
    background: white;
    border-bottom: none;
    padding-bottom: 0px;
    padding-top: 20px;
}
.my-card h4 {
    font-size: 30px;
    color: #302D3A;
    text-align: center;
}
.my-card .card-body {
    padding-top: 10px;
}
.my-card .card-title{
    font-size: 20px;
    color: #302D3A;
}
.my-card .card-text{
    font-size: 14px;
    color: #5F5982;
}
.my-card > div > :nth-child(2) > div > img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.cstm-card-footer .card-title {
    font-size: 18px !important;

}
.cstm-card-footer img {
    height: 30px !important;
    width: 30px !important;
}