/* Wallet heading*/
.WDcontainer .WDheading{
    color: #434343;
    font-size: 21px;
    font-family: Poppins;
    margin-bottom: 0px;
}

/* withdraw button */
.WDcontainer .WDbutton{
    background: #05CC69;
    color: white;
    font-size: 15px;
    font-family: Poppins;
}

/* card */
.WDcard {
    -webkit-box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 15%);
    border: none;
}
/* card title */
.WDcard .title {
    color: #434343;
    font-size: 16px;
    font-family: Poppins;
    margin-bottom: 0px;
}
/* card text cash */
.WDcard .cashtext{
    color: #3FB21F !important;
    font-size: 19px !important;
    font-family: Poppins !important;
}
/* card text added */
.WDcard .addeddtext {
    color: #434343 !important;
    font-size: 15px !important;
    font-family: Poppins !important;
}