.CFRow2Component-cstm-card {
    text-align: center;
    border: none;
}

.CFRow2Component-cstm-card > img {
    height: 40px;
    width: 40px;
}

.CFRow2Component-cstm-card-body {padding: 0;}
.CFRow2Component-cstm-card-body > h4 {font-size: 13px;}
.CFRow2Component-cstm-card-body > p {font-size: 12px;}
.CFRow2Component-cstm-card{
    transition: all 0.5s ease;
    cursor: pointer;
}
/* .CFRow2Component-cstm-card:hover{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
transform: scale(1.1);
} */
.CFRow2Component-cstm-card:hover{
    box-shadow: 0px 30px 30px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 30px 30px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 30px 30px 1px rgba(0,0,0,0.15);
transform: scale(1.1);
}