/* nav bar */

/* Logo */
.cstm-navbar-brand {
    color: #F56962 !important;
}

/*  */
.cstm-nav-item {
    color: #005D8A;
}

/* (custom) navbar dropdown menu  */
.cstm-navbar-dropdown > ul > p > span {
    left: auto !important;
    

}



.cstm-navbar-dropdown> ul > p:hover .dropdown-menu {
    display: block;
}
    
.cstm-navbar-dropdown > ul > p > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
/* dropdown menu buttons */
.cstm-navbar-dropdown > ul {
    display: flex;
    margin: auto;

}
.cstm-navbar-dropdown > ul > p {
    margin: auto;
}
.cstm-navbar-dropdown > ul > p > a {
    color: #005D8A !important;
}
.cstm-navbar-dropdown > ul > p > a > button {
    color: #005D8A !important;
}
.cstm-navbar-dropdown > ul > p > button {
    color: #fff;
}
/* login button */
.loginbutton {
    background: #1EAE7A;
    color: white;
}
.loginbutton:hover {
    color: white;
}
/* registerbutton */
.registerbutton {
    background: #F56962;
    color: white;
}
.registerbutton:hover {
    color: white;
}

.experimentdiv {
    display: none;
}

.cstm-navbar .desktop-hide {
    display: none;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .collapse:not(.show) {
        display: none !important;
    }

    .cstm-navbar .cstm-navbar-brand {
        display: contents;
    }

    .cstm-navbar .collapse {
        display: flex;
        flex-direction: column;
    }

    .cstm-navbar .cstm-ul {
        flex-direction: column;
        display: none
        
    }

    .experimentdiv {
        display: block !important;
    }

    .cstm-navbar .mobAndtab-hide {
        display: none;
    }

    .cstm-navbar .desktop-hide {
        display: inline-block;
    }
    .experimentdiv .cstmHeadingAfterIcon::after {
        display: none;
    }



}

/* tablet view */

@media (min-width: 426px) and (max-width: 767px){

    .collapse:not(.show) {
        display: none !important;
    }


    .cstm-navbar .cstm-navbar-brand {
        display: contents;
    }

    .cstm-navbar .collapse {
        display: flex; 
        flex-direction: column;
    }

    .cstm-navbar .cstm-ul {
        flex-direction: column;
        display: none
        
    }

    .experimentdiv {
        display: block !important;
    }

    .experimentdiv .cstmHeadingAfterIcon::after {
        display: none;
    }

    .cstm-navbar .mobAndtab-hide {
        display: none;
    }

    .cstm-navbar .desktop-hide {
        display: inline-block;
    }
}