/* container fluid */
.BecomeOrConstruct-container-fluid {
    background: #FEF0EF;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* container */
.BecomeOrConstruct-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 860px;
}

/* teacher column */
.BecomeOrConstruct-Teachercolumn {
    background: white;
    padding: 20px;
    
    display: flex;
}
/* Teacher img */
.Teachercolumn-img {
    height: 65px;
    width: 65px;
    background: #ccc;
    border-radius: 100%;
}
/* Teacher text */
.Teachercolumn-text > h5{
    font-size: 20px;
    color: #5F5982;
    font-weight: 300;
    text-align: left !important;
    margin-bottom: 12px !important;
}
.Teachercolumn-text > p{
    font-size: 13px;
    color: #5F5982 !important;
    text-align: left !important;
    margin-bottom: 12px !important;
}
.btn-danger-cstm{
    font-size: 14px !important;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .BecomeOrConstruct-container-fluid .cstm-col {
        padding: 15px;
    }
    .Teachercolumn-text > p {
        font-size: 18px !important;
    }
    .btn-danger-cstm{
        font-size: 18px !important;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    .BecomeOrConstruct-container-fluid .cstm-col {
        padding: 15px;
    }


}