/* --------------about section ----------------------*/
/* heading */
.CPA .headingrow {
    padding-bottom: 10px; 
    border-bottom: #CAC6D4 solid 1px;
    
}
.CPA-R1 .aboutheading {
    font-size: 18px;
    color: #302D3A;
    
}
.CPA-R1 > a > img {
    height: 16px;
    width: 16px;
}

/* paragraph */
.CPA-R2 {
    /* padding-top: 20px; */
}
.CPA-R2 > p {
    font-family: Muli !important;
    color: #7A7A7A !important;
    text-align: left;
    font-size: 14px !important;
}

/* ------------------------courses section------------- */



.CPA-R1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding-bottom: 10px; */
    /* border-bottom: #CAC6D4 solid 1px; */
    /* margin-bottom: 10px; */
}
.CPA-R1 > h4 {
    font-size: 30px;
    color: #302D3A;
    font-family: Poppins;
}
.CPA-R1 > button {
    font-size: 18px;
    font-family: Poppins;
    border: #CAC6D4 solid 1px;
    color: #5F5982;
}

/* ---------student feedback---------- */
/* high rated buton */
.CPA-container .btn {
    border: #CAC6D4;
}
