
p {
  color: #b3b3b3;
  font-weight: 400;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 20px;
  color: #302D3A;
}

.half,
.half .container>.row {
  min-height: 100vh;
}

.contents {
  background: #EFF4FB;
}

.content_container {
  padding-left: 15%;
}

.content_container_inner {
  max-width: 560px;
  width: 100%;
}

.half .contents {
  width: 100%
}

.half .bg {
  max-width: 905px;
  width: 100%;
}

.login_descr {
  font-size: 24px;
  line-height: 40px;
  color: #5F5982;
  font-weight: 200;
}

.half .bg {
  background-size: cover;
  background-position: top center;
  /* background-image: url('../images/bG.png'); */
  background-image: url('../assets/images/bG.png');
}

.inner_content {
  width: 84%;
  text-align: center;
}

.img_area {
  text-align: end;
  margin-top: 82px;
}

.logo_area {
  padding-top: 30px;
  color: #FFFFFF;
}

.branding_content {
  max-width: 616px;
  margin-top: 60px;
  margin-left: auto;
}

.branding_content .branding_content_heading {
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  color: #FFFFFF;
  text-align: right;
}

.branding_content_text {
  color: #FFFFFF;
  font-size: 24px;
}

.social_btn {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #CAC6D4;
  border-radius: 5px;
  color: #5F5982;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  height: 60px;
}

.social_btn img {
  margin-right: 14px;
}

.separated_line {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 16px auto;
}

.separated_line p {
  position: relative;
  display: inline-block;
  margin: 0;
}

.separated_line p:before,
.separated_line p:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 250px;
  height: 1px;
  background: #CAC6D4;
}

.separated_line p:before {
  right: 100%;
  margin-right: 15px;
}

.separated_line p:after {
  left: 100%;
  margin-left: 15px;
}

.form_style label {
  font-size: 18px;
  color: #302D3A;
  font-weight: 400;
  margin-bottom: 14px;
}

.form_style .form-group {
  margin-bottom: 10px;
}

.form_style .form-group input {
  height: 56px;
}

.form_style .form-group input::-webkit-input-placeholder {
  /* Edge */
  color: #7A7A7A;
  font-size: 14px;
  opacity: 50%;
}

.form_style .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7A7A7A;
  font-size: 14px;
  opacity: 50%;
}

.form_style .form-group input::placeholder {
  color: #7A7A7A;
  font-size: 14px;
  opacity: 50%;
}

.forgot-pass {
  text-decoration: none !important;
  color: #6C63FF !important;
  font-size: 16px;
}

.btn-success {
  background: #00AC00 !important;
  border: 1px solid #00AC00 !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
  box-shadow: 0 15 29 !important;
  padding: 15px 30px !important;
}

.btn-success.btn-sm {
  padding: 8px 12px !important;
  font-size: 14px;
}

.btn-success:hover {
  color: #fff;
  background-color: #078807 !important;
  border-color: #078807 !important;
}

.btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(0 172 0 / 21%) !important;
}

.dont_have_account span {
  color: #5F5982;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
}

.dont_have_account span a {
  color: #00AC00;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
}
.text-end{
  text-align: end;
}
/* 
@media only screen and (min-width: 320px) {
  .bg {
      display: none;
  }
  .contents {
      background-size: cover;
      background-position: top center;
      background-image: url('../images/bG.png');
  }
  .content_container {
      padding: 0;
  }
  .content_container_inner {
      max-width: 300px;
      width: 100%;
      margin: 12px auto;
      background: #EFF4FB;
  }
  h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 16px;
  }
  .content_container_inner {
      padding: 18px;
  }
  .login_descr {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
  }
  .social_btn {
      padding: 4px 30px;
      margin-bottom: 6px;
      font-size: 14px;
      height: 50px;
  }
  .social_btn img {
      width: 20px;
  }
  .form_style label {
      font-size: 14px;
      margin-bottom: 8px;
  }
  .form_style .form-group input {
      height: 50px;
      font-size: 14px;
  }
  .forgot-pass {
      font-size: 14px;
  }
  .btn-success {
      font-size: 16px;
      font-weight: 400;
      padding: 12px 30px;
  }
  .dont_have_account span {
      line-height: 24px;
      font-size: 14px;
  }
}

@media only screen and (min-width: 480px) {
  .bg {
      display: none;
  }
  .contents {
      background-size: cover;
      background-position: top center;
      background-image: url('../images/bG.png');
  }
  .content_container {
      padding: 0;
  }
  .content_container_inner {
      max-width: 440px;
      width: 100%;
      margin: 12px auto;
      background: #EFF4FB;
  }
}

@media only screen and (min-width: 600px) {
  .bg {
      display: none;
  }
  .contents {
      background-size: cover;
      background-position: top center;
      background-image: url('../images/bG.png');
  }
  .content_container {
      padding: 0;
  }
  .content_container_inner {
      max-width: 540px;
      width: 100%;
      margin: 12px auto;
      background: #EFF4FB;
  }
  h2 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 16px;
  }
  .login_descr {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
  }
  .social_btn {
      padding: 4px 30px;
      margin-bottom: 6px;
      font-size: 16px;
      height: 50px;
  }
  .social_btn img {
      width: 20px;
  }
  .form_style label {
      font-size: 16px;
      margin-bottom: 10px;
  }
  .form_style .form-group input {
      height: 50px;
      font-size: 14px;
  }
  .forgot-pass {
      font-size: 14px;
  }
  .btn-success {
      font-size: 16px;
      font-weight: 400;
      padding: 12px 30px;
  }
  .dont_have_account span {
      line-height: 24px;
      font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1200px) {} */



.forgot_modal_body{
  padding: 30px !important;
  text-align: center;
}
.forgot_heading{
  font-size: 30px;
  line-height: 32px;
  color: #222B45;
  font-weight: 400;
  margin-bottom: 16px;
}
.forgot_descri{
  color: #8F9BB3;
  font-size: 15px;
  line-height: 21px;
  
}
#enterCode {
  max-width: 260px;
  margin: 25px auto 0;
  margin-bottom: 20px;
}
#enterCode input {
  margin: 0 7px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 19%;
  transition: all .2s ease-in-out;
  border-radius: 3px;
  
  
}
#enterCode input:focus {
  border-color: #00ac00;
  box-shadow: 0 0 5px #00ac00 inset;
}

#enterCode input::selection {
  background: transparent;
}
.sendText{
  font-size: 19px;
  line-height: 26px;
  color: #FD3667;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}
.digit_code{
  font-size: 26px !important;
  line-height: 30px !important;
}


/* CheckMark CSS */

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}
p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}
p.success {
  color: #00AC00;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
 }
  100% {
    stroke-dashoffset: 0;
 }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
 }
  100% {
    stroke-dashoffset: 0;
 }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
 }
  100% {
    stroke-dashoffset: 900;
 }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
 }
  100% {
    stroke-dashoffset: 900;
 }
}
/* SecondStep Syle */
.secondStepContainer{
  display: flex!important;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 475px;
    margin: auto;
    display: flex;
    text-align: center;
}
.h-56{
  height: 56px !important;
}
/* Image uploaded */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 30px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 24px;
  z-index: 1;
  bottom: 0px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 36px;
  height: 32px;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  background-image: url('../assets/images/Icon awesome-camera.png');
}
.avatar-upload .avatar-edit input {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* registeration successfull */

/* button */
.regsuccess .button {
  background: #00AC00;
  color:white;
}
.regsuccess .button:hover {
  color:white;
}

/* text */
.regsuccess .successtext {
  font-size: 24px !important;
}

/* row */
.regsuccess .row {
  margin-top: 150px;
}

