/* dropdown */
.cstm-CQuizResult-dropdownmenu a {
    border-bottom: #C9C9C9 solid 1px;
}

/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .CQuizResult-container td {
        font-size: 14px;
    }

}