
body {
    font-family: Poppins;
}

label {
    font-size: 14px !important;
    font-family: Poppins !important;
    color: #302D3A !important;
}

h4 {
    font-size: 18px;
    color: #302D3A;
}

h5 {
    font-size: 16px;
    color: #302D3A;
}

select {
    border: #CAC6D4 solid 1px;
}

.SI2-container {
    margin-top: 150px;
    margin-bottom: 100px;}


.SI2-C1-R1{
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.SI2-C1-R1 > a {
    padding: 0px !important;
}
.SI2-C1-R1 > a > button {
    height: 30px;
    width: 92px;
    color: white;
    background: #05CC69;
    padding: 0px;
}
.SI2-C1-R1 > a > Button:hover {
    color: white;
}
/*  */

.SI2-C1-R2 .my-button {
    background: #05CC69;
    color: white !important;
    font-size: 10px;
    font-family: Poppins;
}
/* .SI2-C1-R2{
    padding-top: 20px;
    display: grid;
    
    
}
.SI2-C1-R2 button {
    height: 26px;
    width: 82px;
    color: white;
    font-family: Poppins;
    font-size: 10px;
    background: #05CC69;
    padding: 0px;
}

.SI2-C1-R2 > div > div {
    display: flex;
}

.SI2-C1-R2 > div > div > div > div > label {
    font-size: 10px !important;
    font-family: Poppins !important;
    color: #302D3A !important;
}
.SI2-C1-R2 > div > div > div > div > div > label {
    font-size: 10px !important;
    font-family: Poppins !important;
    color: #302D3A !important;
}
.SI2-C1-R2 :nth-child(2) > div :nth-child(2) > div :nth-child(1) {
    padding: 0px 16px;
}
.SI2-C1-R2 :nth-child(2) > div :nth-child(2) > div :nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.SI2-C1-R2 :nth-child(2) > div :nth-child(2) > div :nth-child(2) > div {
    margin-right: 8px;
} */

/*  */
.SI2-C1-R3 > div > a > img {
    height: 50px;
    width: 210px;
}
.SI2-C1-R3 > div {
    display: flex;
    
}
.SI2-C1-R3 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.SI2-C1-R3 > div :nth-child(2) {
    margin: 3px 0px;
}
