/*------------------------ Learn new skills---------------------------- */
.learnNewSkill {
    z-index: 999px;
}
/* background color */
/* .learnNewSkill .bg-customcolor {
    background: #005D8A;

} */
.learnNewSkill .header-bg{
 border-radius: 20px;
 background: #005D8A;
}
.learnNewSkill .header-padding{
 padding-left: 5%;
 padding-right: 5%;
}
/* container */
.learnNewSkill .cstm-container {
    border-radius: 20px !important;
    /* height: 498px !important; */
    margin-bottom: 15px;
    z-index: 99;
}


/* heading */
.learnNewSkill .cstm-container .banner-heading {
    font-size: 50px;
    /* color: #302D3A !important; */
    color: #fff !important;
    margin-bottom: 24px;
    z-index: 999px;
}

/* paragraph */
.learnNewSkill .cstm-container .banner-descr {
    font-size: 18px;
    color: #fff !important;
    font-family: Poppins !important;
    text-align: left;
    margin-bottom: 24px !important;
    z-index: 999px;
}

/* search-inputflied */
.learnNewSkill .search-inputflied {
    position: relative;
    
}

/* input field */
.learnNewSkill .cstm-container .banner_search {
    height: 50px !important;
    color: #5F5982 !important;
    font-size: 16px !important;
    padding: 0 !important;
}
.learnNewSkill .cstm-container .banner_search input{
    height: 50px !important;
}
.learnNewSkill .cstm-container .banner_search input::placeholder {
    color: #5F5982 !important;
    font-size: 16px !important;
}

/* input field button */
.learnNewSkill .cstm-container > div > div > a> img {
    height: 50px !important;
    width: 72px !important;
    position: absolute !important;
}

.learnNewSkill .btn-danger{
    background-color: #F56962 !important;
    border: 1px solid #F56962 !important;
}
.learnNewSkill .seacrh_icon_width{
    width: 50px;
}





/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){


    /* image */
    .learnNewSkill .cstm-banner-image {
        margin-top: 40px;
    }

    /* heading */
    .learnNewSkill .banner-heading {
        text-align: left;
        font-size: 20px !important;
    }
    /* text */
    .learnNewSkill .cstm-container .banner-descr {
        font-size: 18px;
        text-align: left;
    }

    /* search-bar */
    .learnNewSkill .cstm-container .banner_search {
        width: 100% !important;
        font-size: 18px;
        margin-bottom: 8px;
    }
    .learnNewSkill .cstm-container .banner_search::placeholder {
        font-size: 18px;

    }
    .learnNewSkill .cstm-container .r1 {
        flex-direction: column-reverse;
    }

}

@media only screen and (max-width: 375px){

    /* heading */
    .learnNewSkill .banner-heading {
        font-size: 20px !important;
    }
    /* text */
    .learnNewSkill .cstm-container .banner-descr {
        font-size: 14px;
    }

    /* search-bar */
    .learnNewSkill .cstm-container .banner_search {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .learnNewSkill .cstm-container .banner_search::placeholder {
        font-size: 14px;

    }
    .learnNewSkill .cstm-container .r1 {
        flex-direction: column-reverse;
    }

}

@media only screen and (max-width: 320px){

    /* heading */
    .learnNewSkill .banner-heading {
        font-size: 20px !important;
    }
    /* text */
    .learnNewSkill .cstm-container .banner-descr {
        font-size: 9px ;
    }

    /* search-bar */
    .learnNewSkill .cstm-container .banner_search {
        font-size: 9px;
        margin-bottom: 8px;
    }
    .learnNewSkill .cstm-container .banner_search::placeholder {
        font-size: 9px;

    }
    .learnNewSkill .cstm-container .r1 {
        flex-direction: column-reverse;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    /* image */
    .learnNewSkill .cstm-banner-image {
        margin-top: 40px;
    }

    /* heading */
    .learnNewSkill .banner-heading {
        text-align: left;
        font-size: 30px !important;
    }
    /* text */
    .learnNewSkill .banner-descr {
        font-size: 16px !important;
        text-align: left;
    }

    /* search-bar */
    .learnNewSkill .banner_search {
        width: 100% !important;
        margin-bottom: 8px;
        /* padding: 0px !important; */
    }



}