/* container */
.Panel {
    border: #CAC6D4 solid 1px
}

  /* ........tabs dashboard, student,teachers,settings,................. */

  .Panel .nav {
    flex-wrap: nowrap;
    border: none;
  }
  
  .Panel .nav-link {
    font-size: 18px !important;
    font-family: sans-serif;
    color: #717579!important;
    background: none !important;
    border: #CAC6D4 solid 1px !important;
  }
  /* .SPVHA-cstm-section-R2 > ul > li > a:active {
    color: #F56962 !important;
    border-bottom: #F56962 solid 3px !important;
  } */
  
  .Panel .nav-link.active {
    color: #FF6175 !important;
    border-left: #FF6175 solid 6px !important;
  }

  /* heading */
  .Panel .heading {
      color: #171B1E;
      font-size: 25px;
      font-family: system-ui;
      font-weight: bold;
  }
  /* text */
  .Panel .text {
    color: #171B1E !important;
    font-size: 16px !important;
    font-family: system-ui !important;
}
/* button message */
.Panel .button {
    background: #05CC69;
    font-size: 14px;
    font-family: system-ui;
    color: white;
}