body {
    font-family: Poppins;
}
p {
    margin: 0px !important;
    font-size: 14px;
}


/* heading */
.TA-R1 {
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.TA-R1 > h4 {
    font-size: 18px;
    color: #302D3A;
}
.TA-R1 > a > img {
    height: 16px;
    width: 16px;
}

/* paragraph */
.TA-R2 {
    padding-top: 20px;
}
.TA-R2 > p {
    font-family: Muli !important;
    color: #7A7A7A;
    text-align: left;
}