.learn-more-section{
    padding:60px;
}
.learn-more-section-title{
    padding:24px;
}
.learn-more-section-title h4{
    color:#302D3A;
    font-size:40px;
    font-weight:bold;
}
.learn-more-section-title button{
    float:right !important;
}

.learn-more-section .cstm-btn-div {
    display: flex;
    justify-content: flex-end;
}




/* row 2 */
.LearnMore-row2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}





/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .learn-more-section {
        padding: 0 15px;
    }
    .learn-more-section .LearnMore-row2 {
        flex-direction: column !important;
    }

    .learn-more-section .cstm-h4 {
        font-size: 20px !important;
    }

    .learn-more-section .cstm-btn-div {
        display: flex !important;
        justify-content: flex-start;
    }
    .learn-more-section .cstm-btn-div .learn-more-section {
        font-size: 18px;
    }

}


/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    .learn-more-section .LearnMore-row2 {
        flex-direction: column !important;
    }

    .learn-more-section .cstm-h4 {
        font-size: 30px !important;
    }

    .learn-more-section .cstm-btn-div {
        display: flex !important;
        justify-content: flex-start;
    }

}