/* card */
.CLScard {
    -webkit-box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 15%);
    transition: all 0.5s ease;
    cursor: pointer;
}
.CLScard:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
transform: scale(1.03);
}

/* all text color and font family */
.CLScard .color-family {
    font-family: Poppins !important;
    color: #5F5982 !important;
}

/*------------- font size------- */
/* name */
.CLScard .name{
    font-size: 14px !important;
}
/* date */
.CLScard .date {
    font-size: 11px !important;
}
/* title */
.CLScard .title {
    font-size: 13px !important;
}
/* lecture num */
.CLScard .lecturenum {
    font-size: 9px !important;
}
/* text */
.CLScard .text {
    font-size: 8px !important;
}
/* timer */
.CLScard .timer {
    font-size: 20px !important;
}