.known-about-best-section{
    padding:60px;
}
.known-about-best-headline{
    padding: 24px 0;
}
.known-about-best-headline h4{
    color:#302D3A;
    font-weight: bold;
    font-size: 40px;
    font-family: poppins;
}
.known-about-best-headline button{
    float: right;
    margin-top: 18px;
}
.known-about-best-list{
    padding-right:36px;
}
.known-about-best-list li{
    list-style:decimal-leading-zero	;
    color:#302D3A;
    font-size:24px;
    font-weight:400;
    margin-bottom:24px;
}
.known-about-best-list li h5{
    font-size:18px;
    font-weight:400;
    padding-left:16px;
}
.known-about-best-list li p{
    color:#5F5982;
    padding:0px 100px 0 16px;
    text-align:inherit;

}











/* button */
/* button */
.KnowAbout-ct-button {
    background: #F56962;
    font-size: 20px !important;
    color: #fff !important;
    font-family: Poppins !important;
    
}

/* Know about best  img */
.KnowAboutBest-container-row1-column1{
    background-image: url('../../../../images/Path479.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 274px;
}
.KnowAboutBest-container-row1-column1-row1{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
}
.KnowAboutBest-container-row1-column1-row1 > :nth-child(1) {
    height: 200px;
    width: 150px;
    background: #fff;
    box-shadow: orangered 4px;
    padding-top: 10px;
    text-align: center;
    filter: drop-shadow(0px 5px 6px gainsboro);
    border-radius: 5px;
}
.KnowAboutBest-container-row1-column1-row1 > :nth-child(2) {
    height: 150px;
    width: 150px;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 5px 6px gainsboro);
    border-radius: 5px;
    
}
.KnowAboutBest-container-row1-column1-row2 > div {
    height: 150px;
    width: 150px;
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 5px 6px gainsboro);
    border-radius: 5px;
}
.KnowAboutBest-container-row1-column1-row1 > div > img {
    background: #ccc;
    height: 100px;
    width: 130px;
}
.KnowAboutBest-container-row1-column1-row2 > div > img {
    background: #ccc;
    height: 100px;
    width: 130px;
}



/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){


    .known-about-best-section {
        padding: 36px 15px;
    }
    /* Know about best */
    .known-about-best-section .cstm-h4 {
        font-size: 20px !important;
    }

    /* Start now */
    .known-about-best-section .cstm-btn-div {
        display: flex;
    }
    .known-about-best-section .cstm-btn-div .button {
        font-size: 18px;
    }
    .known-about-best-list li p {
        padding: 0 0 0 16px;
        font-size: 18px !important;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    /* Know about best */
    .known-about-best-section .cstm-h4 {
        font-size: 30px !important;
    }

    /* Start now */
    .known-about-best-section .cstm-btn-div {
        display: flex;
    }

}
