/* card */
.dashboardCard {
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease;
}
.dashboardCard:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    transform: scale(1.03);
}
/* image 2 */
.dashboardCard .image2 {
    max-width: 232px;
    width: 100%;
}
/* number */
.dashboardCard .number {
    color: #171B1E;
    font-size: 32px;
    font-family: system-ui;
    font-weight: bold;
}
/* text */
.dashboardCard .text {
    color: #717579 !important;
    font-size: 13px !important;
    font-family: system-ui !important;
    text-align: justify !important;
}