/* Wallet heading*/
.WDcontainer .WDheading{
    color: #434343;
    font-size: 21px;
    font-family: Poppins;
    margin-bottom: 0px;
}

/* withdraw button */
.WDcontainer .WDbutton{
    background: #05CC69;
    color: white;
    font-size: 15px;
    font-family: Poppins;
}

/* card */
.WDcard {
    -webkit-box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 15%);
    border: none;
}
/* card title */
.WDcard .title {
    color: #434343;
    font-size: 16px;
    font-family: Poppins;
    margin-bottom: 0px;
}
/* card text cash */
.WDcard .cashtext{
    color: #3FB21F !important;
    font-size: 19px !important;
    font-family: Poppins !important;
}
/* card text added */
.WDcard .addeddtext {
    color: #434343 !important;
    font-size: 15px !important;
    font-family: Poppins !important;
}

/* ------------modal------------- */

/* add balance */
.StdWD-Modal .header {
    color: #434343;
    font-size: 18px;
    font-family: Poppins;

}

/* titles */
.StdWD-Modal .label {
    color: #454545;
    font-size: 16px;
    font-family: Poppins;
}

/* input fields border */
.StdWD-Modal .border{
    border: #DBDBDB solid 1px;
    border-radius: 5px;
    font-family: Poppins;
}

/* add balance button */
.StdWD-Modal .button {
    background: #3EAF1E;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: bold;
}

/* modal */
.StdWD-Modal .modal-content {
    padding-right: 16px;
    padding-left: 16px;
}

/* image */
.StdWD-Modal2 .image {
    background: rgb(13, 203, 89, 100%);
    border-radius: 50%;
    padding:30px;

}
/* successfully */
.StdWD-Modal2 .successfully {
    font-size: 22px !important;
    font-family: Poppins !important;
    color: black !important;
}