/* create new quiz button */
.Qbutton {
    background: #05CC69;
    font-size: 11px;
    font-family: Poppins;
    color: white;
    text-align: end;
}

/* pagination */
.CQuizes-pagination .page-item.active {
    background: #05CC69;
}