
/* container */
.LearnMoreComponent-container{
    background: #00BFA1;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    z-index: 11;
    padding:36px 48px;
    
}

/* img */
.LearnMoreComponent-container > a {
    z-index: 1;
}
.LearnMoreComponent-container > h5 {
    z-index: 1;
    font-size:24px;
    color:#fff;
}
.LearnMoreComponent-container > p {
    z-index: 1;
    color:#fff!important;
    font-size:18px;
    text-align:inherit;
    margin-bottom:36px !important;
}
.LearnMoreComponent-container > img{
    height: 30px;
    width: 30px;
    z-index: 1;
    margin-bottom:16px !important;
}
.LearnMoreComponent-container > a > img{
    height: 40px;
    width: 40px;
}



/* overlay effect */
.LearnMoreComponent-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 81, 0);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 1;
}
.LearnMoreComponent-container:hover .LearnMoreComponent-overlay {
    height: 100%;
  }

/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){
    .LearnMoreComponent-container > h5 {
        font-size: 20px;
    }
    .LearnMoreComponent-container > p {
        font-size: 18px !important;
    }
}