/* container fluid custom*/
.CustomFooter-container-fluid {
    background: #005D8A;
}
.footer_cstm_cel h5{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 30px;
    color: #fff;
}
.footer_cstm_cel ul{
    padding-left: 0;
}
.footer_cstm_cel ul li{
    list-style: none;
}
.CustomFooter-column-1 > ul > h5 {
    color: white !important;
}
.CustomFooter-column-1 > ul > p {
    color: white !important;
}

.footer_cstm_cel ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.footer_divider{
    color: #3F3F48 !important;
}

.footer_copyRight h4 {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
}
.CustomnFooter-row-1 > button > img {
    height: 16px;
    color: white;
}
.footer-container{
    padding-top: 60px;
    padding-bottom: 18px;
}
.CustomFooter-container-fluid .mobile-responsive-cstm {
    display: none;
}

/* mobile view */
@media only screen and (max-width: 425px) {
    .CustomFooter-container-fluid .mobile-responsive-cstm {
        display: block;
    }
}

/* tab view */
@media (min-width: 426px) and (max-width: 767px) {
    .CustomFooter-container-fluid .mobile-responsive-cstm {
        display: none;
    }
}