/* name */
.crd-structure .crdheading {
    font-size: 18px;
    font-family: system-ui;
    font-weight: bold;
    color: #171B1E;
}

/* crd subject */
.crd-structure .crdtext {
    font-size: 14px !important;
    font-family: system-ui !important;
    color: #717579 !important;
}

/* button */
.crd-structure .button {
    font-size: 10px;
    font-family: system-ui;
    color: white;
    text-align: center;
    border-radius: 15px;
}
.crd-structure .red {
    background: #FF6175;
}
.crd-structure .green {
    background: #05CC69;
}

/* card  */
.crd-structure {
    border-radius: 15px;
    border: none;
    transition: all 0.5s ease;
}
.crd-structure:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    transform: scale(1.03);
}