.StdSummaryContainer .heading {
    font-size: 14px;
    font-family: system-ui;
    color: #171B1E;
}
.StdSummaryContainer .text {
    font-family: system-ui !important;
    font-size: 12px !important;
    color: #717579 !important;
}
.StdSummaryContainer h4 {
    font-size: 24px !important;
}

/* container */
.StdSummaryContainer {
    background: white;
    border-radius: 15px;
    border: none;
}

/* Barchart-row */
.StdSummaryContainer .Barchart-row {
    height: 40vh;
}