/*------------------------ Learn new skills---------------------------- */

/* background color */
/* .bg-customcolor {
    background: #005D8A;

} */

.Skillfy-section{
    padding:60px;
}
.skillfy-content-div{
    padding: 36px 0;
}
.Skillfy-section h3{
    color: #fff !important;
    margin-bottom: 24px;
    font-size:40px;
    padding-right:24px;
    font-weight:bold;
}

.Skillfy-section p{
    text-align: inherit;
    color: #fff !important;
    font-weight: 500;
    padding-right: 100px;
    font-size: 18px !important;
    margin-bottom: 16px !important;
}


/* column 2 img */
.AboutUs-ct-img-column2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.AboutUs-ct-img-column2 > img {
    background-color: #ccc;
    height: 280px;
    width: 315px;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .Skillfy-section {
        padding: 0 15px;
    }

    /* Skillfy powers Course */
    .SkillfyPowers .cstm-h4 {
        font-size: 20px !important;
        padding: 0;
    }

    .Skillfy-section p {
        font-size: 18px !important;
        padding: 0;
    }

    .Skillfy-section .button {
        font-size: 18px;
    }

    .Skillfy-section .AboutUs-ct-img-column2 {
        padding-bottom: 36px;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    /* Skillfy powers Course */
    .SkillfyPowers .cstm-h4 {
        font-size: 30px !important;
    }

}