/* Create new quiz */
.SQ-btn {
    font-size: 22px;
    color: #5F5982;
    font-family: Poppins;
}

/* Questions h5 */
.SQ-Questions h5 {
    color: #5F5982;
    font-size: 14px;
    font-family: Poppins;
}
/*p tag Answers */
.SQ-Questions  .PAnswer{
    color: #5F5982 !important;
    font-size: 22px !important;
    font-family: Poppins !important;
    background: #F6F7F9 !important;
    text-align: left;
}
/* p tag Question */
.SQ-Questions .PQuestion {
    color: #302D3A !important;
    font-size: 24px !important;
    font-family: Poppins !important;
    background: #F6F7F9 !important;
    text-align: left;
}
/* ptag div */
.SQ-Questions .Pdiv {
    border: #CAC6D4 solid 1px;
    border-radius: 5px;
}
/* radio button */
.SQ-Questions .form-check-input:checked {
    background: #05CC69 !important;
}

/* container */
.SQ-container {
    margin-top: 150px;
    margin-bottom: 100px;
}
/* questions and timing */
.SQ-container .QT {
    color:#EFEFF6;
    font-size: 22px;
    font-family: Poppins;
}

/* ----------modal---------- */

/* 7 / 10 */
.SubjQ-Modal .title {
    color: #43C8B1;
    font-size: 28px;
    font-family: Poppins;
    font-weight: bold;
}

/* text */
.SubjQ-Modal .text{
    color: #5F5982 !important;
    font-size: 12px !important;
    font-family: Poppins !important;
}

/* back to dashboard */
.SubjQ-Modal .button {
    font-size: 14px;
    font-family: Poppins;
    color: white;
    background: #05CC69;
}