/* default things for h5 tag */
.Stdinstructor .dfh5 {
    color: #302D3A;
    font-family: Poppins;

}

/* default things for p tag */
.Stdinstructor .dfp{
    color: #5F5982 !important;
    font-family: Poppins !important;
}

/* name */
.Stdinstructor .name {
    font-size: 24px;
}

/* star watch play */
.Stdinstructor .SWP{
    font-size: 14px !important;
}

/* info description*/
.Stdinstructor .di {
    font-size: 16px !important;
}

/* title */
.Stdinstructor .title {
    font-size: 18px;
}



/* --------tab view--------- */

@media only screen and (max-width: 767px) {
    .Stdinstructor .r1 {
        flex-direction: column;
    }
    .Stdinstructor .r1 .r1-col2 {
        padding-top: 16px;
    }
    .Stdinstructor .r1 .r1-col2 .cstm-span {
        align-items: center;
    }
}

/* -------mob view-------- */

@media only screen and (max-width: 480px) {
    .Stdinstructor .r1 .r1-col2 .SWP {
        font-size: 11px !important;
    }
    .Stdinstructor .r1 .r1-col2 .cstm-span {
        align-items: center;
    }
}