.TR-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* high rated buton */
.TR-container .btn {
    border: #CAC6D4;
}

/* pagination */



/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .TR-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .TR-container .cstm-row2 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}