

/* headings */
.termAndCondGener{
    margin-bottom: 50px;
}
.termAndCondGener h5 {
    color: #302D3A;
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 24px;
}
/* #707070 */

.termAndCondGener p {
   
    color: #302D3A !important;
    text-align: start !important;
    font-size: 18px !important;
    line-height: 24px;
    margin-bottom: 18px !important;
    
}