.WeWillHelp-container {
    width: 800px;
}

/* WeWillHelp (row) */
.WeWillHelp-container-row-1{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.WeWillHelp-container-row1-column2 {
    display: flex;
    justify-content: flex-start;
}

/* We will help column 1 img */
.WeWillHelp-container-row1-column1 > img {
    height: 400px;
}

/* column2 numbers(1,2,3) heading */
.WeWillHelp-container-row1-column1-column1 {
    display: grid;
}
.WeWillHelp-container-row1-column1-column1 > div > h5 {
    font-size: 20px;
    font-family: Poppins;
    color: #302D3A;
}

/* column2 Titles and paragraphs */
.WeWillHelp-container-row1-column1-column2 {
    display: grid;
    white-space: nowrap;
}
.WeWillHelp-container-row1-column1-column2 > div > h5 {
    font-size: 20px;
    font-family: Poppins;
    color: #302D3A;
}
.WeWillHelp-container-row1-column1-column2 > div > p {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}

/* its time to start investigate */
.WeWillHelp-container-row-2 {
    background: #00BFA1;
    border-radius: 0px 140px 0px 140px;
    display: flex;
    justify-content: center;
    text-align: center;
   padding: 40px;
    align-content: center;
    margin-top: 50px;
}

.WeWillHelp-container-2 > button {
    background-color: #F56962;
    color: #fff;
}
.WeWillHelp-container-2 > p {
    color: #fff !important;
    font-size: 24px !important;
    line-height: 40px !important;
    margin-bottom: 20px !important;

}
.WeWillHelp-container-2 > h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* steps css */

.progress-steps > div {
	margin-left: 40px;
	position: relative;
    margin-bottom: 70px;
}
.progress-steps > div:last-child > h1::before {
	border: none;
}

.progress-steps > div > h1 {
	font-size: 24px;
	margin-left: -39px;
	color: #302D3A;
	font-weight: 600;
    margin-bottom: 0px;
}

.progress-steps > div > h1 > .number {
	
	color: #33333D;
}

.progress-steps > div > h1::before {
	content: '';
	position: absolute;
	border-left: solid 1px #D4D4D1;
	width: 1px;
	height: calc(100% - 24px);
	top: 60px;
	left: -22.5px;
}

.progress-steps > div > h1 > .number {
	
	margin-right: 25px;
	
	display: inline-block;
	text-align: center;
	line-height: 40px;
    font-size: 30px;
    font-weight: 600;
    color: #33333D;
}
.steps-description{
    margin-left: 26px !important;
    margin-top: 16px !important;
    text-align: left !important;
}
.helpUsHeading{
    font-size: 30px;
    font-weight: 600;
    color: #302D3A;
}

.WeWillHelp-container-fluid .WeWillHelp-container-row1-column1 .mobile-responsive {
    display: none;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .WeWillHelp-container-fluid .WeWillHelp-container-row-1 .helpUsHeading {
        font-size: 20px;
    }
    .WeWillHelp-container-fluid .WeWillHelp-container-row1-column1 .cstm-hide {
        display: none;
    }
    .WeWillHelp-container-fluid .WeWillHelp-container-row1-column1 .mobile-responsive {
        height: 150px;
        display: block;
    }

    .WeWillHelp-container-2 .h4-custom {
        font-size: 19px !important;
        text-align: left;
    }

    .WeWillHelp-container-2 .p-custom {
        font-size: 18px !important;
        text-align: left;
    }

    .WeWillHelp-container-row1-column1 {
        margin-bottom: 12px;

    }

    .WeWillHelp-container-fluid .h1-cstm {
        font-size: 15px !important;
    }
    .WeWillHelp-container-fluid .number {
        font-size: 15px !important;
    }
    .WeWillHelp-container-2 .cstm-button {
        font-size: 18px;
    }

}

@media only screen and (max-width: 375px) {
    .WeWillHelp-container-fluid .WeWillHelp-container-row-1 .helpUsHeading {
        font-size: 18px;
    }
    .WeWillHelp-container-fluid .h1-cstm {
        font-size: 12px !important;
    }
    .WeWillHelp-container-fluid .number {
        font-size: 12px !important;
    }
    .WeWillHelp-container-fluid .WeWillHelp-container-row1-column1 .mobile-responsive {
        height: 120px;
        display: block;
    }
    .WeWillHelp-container-2 .h4-custom {
        font-size: 15px !important;
        text-align: left;
    }
    .WeWillHelp-container-2 .p-custom {
        font-size: 14px !important;
        text-align: left;
    }
    .WeWillHelp-container-2 .cstm-button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .WeWillHelp-container-fluid .WeWillHelp-container-row-1 .helpUsHeading {
        font-size: 16px;
    }
    .WeWillHelp-container-fluid .h1-cstm {
        font-size: 9px !important;
    }
    .WeWillHelp-container-fluid .number {
        font-size: 9px !important;
    }
    .WeWillHelp-container-fluid .WeWillHelp-container-row1-column1 .mobile-responsive {
        height: 100px;
        display: block;
    }
    .WeWillHelp-container-2 .h4-custom {
        font-size: 10px !important;
        text-align: left;
    }
    .WeWillHelp-container-2 .p-custom {
        font-size: 9px !important;
        text-align: left;
    }
    .WeWillHelp-container-2 .cstm-button {
        font-size: 9px;
    }
}

/* tablet view */

/* tablet view */

@media (min-width: 426px) and (max-width: 767px) {


    .WeWillHelp-container-2 .h4-custom {
        font-size: 30px !important;
        text-align: left;
    }

    .WeWillHelp-container-2 .p-custom {
        font-size: 16px !important;
        text-align: left;
    }


    .WeWillHelp-container-row1-column1 {

        text-align: center;
        margin-bottom: 12px;

    }

}