/* video player */
.StdCu-myplayer .video-react {
    height: 78px !important;
    width: 72px !important;
}
.StdCu-myplayer .video-react-big-play-button {
    /* height: 30px !important; */
    width: 35px !important;
    
}

/* button */
.StdCu-button {
    background: #F68C20;
    color: white;
    font-size: 11px;
    font-family: Poppins;
}

/* text p tag*/
.StdCu-text {
    color: #F68C20 !important;
}


/* ---------mobile view------------------ */

@media only screen and (max-width: 480px){

    .StdCu-container .StdCu-h5 {
        font-size: 11px !important;
    }
    .StdCu-container .StdCu-text {
        font-size: 11px !important;
    }

}

/* ---------tab view------------------ */

@media only screen and (max-width: 767px){

    .StdCu-container .StdCu-h5 {
        font-size: 14px !important;
    }
    .StdCu-container .StdCu-text {
        font-size: 12px !important;
    }

}
