

.ExpandingLearning-row2-row1-col1{
   
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    height: 400px;
}
.pink_bg{
    background: #FEF0EF;
}

.blue_bg{
    background: #F0EFFF;
    
}
.green_bg{
    background: #EFFCFA;
    
}



.ExpandingLearning-row2-row1-col2 > img {
    position: relative;
    background: #ccc;
    height: 300px;
    width: 400px;
    /* top: 50px; */
    right: 145px;
    z-index: 1;
}

.ExpandingLearning-left > img {
    position: relative;
    background: #ccc;
    height: 300px;
    width: 400px;
    /* top: 50px; */
    left: 0px;
    z-index: 1;
}

/* ExpandingLearning-row2-row1  (Ankara Turkey) */
.ExpandingLearning-row2-row2{
    display: flex;
    padding: 0px;
    margin: 40px 0px;
    direction: rtl;
}
.ExpandingLearning-row2-row2-col1{
    background: rgb(108, 99, 255, 10%);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 185px;
}
.ExpandingLearning-row2-row2-col1 > :nth-child(1){
    font-size: 18px !important;
    font-family: Poppins;
    color: #5F5982;
}
.ExpandingLearning-row2-row2-col1 > h5 {
    font-size: 24px;
    font-family: Poppins;
}
.ExpandingLearning-row2-row2-col1 > p {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}
.ExpandingLearning-row2-row2-col1 > div {
    display: flex;
    direction: ltr;
}
.ExpandingLearning-row2-row2-col1 > div > img {
    height: 20px;
    width: 20px;
}
.ExpandingLearning-row2-row2-col1 > div > p {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
    padding-left: 10px;
}
/* Ankara img */
.ExpandingLearning-row2-row2-col2{
    position: relative;
}
.ExpandingLearning-row2-row2-col2 > img {
    position: absolute;
    background: #ccc;
    height: 250px;
    width: 315px;
    top: 35px;
    left: 0px;
    z-index: 1px;
}

/* ExpandingLearning-row2-row1  (Abohar pakistan) */
.ExpandingLearning-row2-row3{
    display: flex;
    padding: 0px;
    margin: 40px 0px;
}
.ExpandingLearning-row2-row3-col1{
    background: #EFFCFA;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.ExpandingLearning-row2-row3-col1 > :nth-child(1){
    font-size: 18px !important;
    font-family: Poppins;
    color: #5F5982;
}
.ExpandingLearning-row2-row3-col1 > h5 {
    font-size: 24px;
    font-family: Poppins;
}
.ExpandingLearning-row2-row3-col1 > p {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}
.ExpandingLearning-row2-row3-col1 > div {
    display: flex;
}
.ExpandingLearning-row2-row3-col1 > div > img {
    height: 20px;
    width: 20px;
}
.ExpandingLearning-row2-row3-col1 > div > p {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
    padding-left: 10px;
}
/* Abohar img */
.ExpandingLearning-row2-row3-col2{
    position: relative;
}
.ExpandingLearning-row2-row3-col2 > img {
    position: absolute;
    background: #ccc;
    height: 250px;
    width: 315px;
    top: 35px;
    left: -117px;
}
.inner-content-cstm{
    max-width: 600px;
    width: 100%;
}
.inner-content-cstm h6{
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 200 !important;
    line-height: 24px;
    color: #5F5982 !important;
    margin-bottom: 24px !important;
}
.inner-content-cstm p{
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    line-height: 24px;
    color: #5F5982 !important;
    
}
.ExpandingLearning_desc{
    margin-bottom: 30px !important;
}
.inner-content-cstm h5{
    text-align: left !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 50px;
    color: #302D3A !important;
    margin-bottom: 30px;
}

.ExpandingLearning .cstm-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 /* --------mobile view----------------- */

 @media only screen and (max-width: 425px){

    .ExpandingLearning .cstm-img {
        display: none;
    }

    .ExpandingLearning .cstm-row-1 {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
    }
    .ExpandingLearning .contact_form_heading {
        font-size: 20px;
    }
    .ExpandingLearning .ExpandingLearning-row2-row1-col1 {
        height: auto;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){


    .ExpandingLearning .cstm-img {
        display: none;
    }

    .ExpandingLearning .cstm-row-1 {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
    }

}