
/* container */
.ItsTime-container {
    width: 800px;
}

/* its time to start investigate */
.WeWillHelp-container-row-2 {
    background: #00BFA1;
    border-radius: 0px 140px 0px 140px;
    display: flex;
    justify-content: center;
    text-align: center;
   padding: 40px;
    align-content: center;
    margin-top: 50px;
}


.WeWillHelp-container-2 > button {
    background-color: #F56962;
    color: #fff;
}
.WeWillHelp-container-2 > p {
    color: #fff !important;
    font-size: 24px !important;
    line-height: 40px !important;
    margin-bottom: 20px !important;

}
.WeWillHelp-container-2 > h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .Contactus-itsTime .cstm-h1 {
        font-size: 19px !important;
        text-align: left;
    }

    .Contactus-itsTime .cstm-p {
        font-size: 18px !important;
        text-align: left;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){


    .Contactus-itsTime .cstm-h1 {
        font-size: 30px !important;
    }

    .Contactus-itsTime .cstm-p {
        font-size: 16px !important;
    }

}