.AboutUs-KnowAboutLearning-section{
     background: #005D8A;
     padding:60px;
}
.AboutUs-KnowAboutLearning-section h3{
    color:#fff;
    font-size:40px;
    font-weight:bold;
    margin-bottom:30px;
    padding-right: 30px !important;
}
.AboutUs-KnowAboutLearning-section p{
    color:#fff !important;
    font-size:18px !important;
    font-weight:normal;
    text-align:inherit;
    padding-right:90px;
}
.AboutUs-KnowAboutLearning-list{
    margin-bottom:16px;
}
.AboutUs-KnowAboutLearning-list p{
    margin-bottom:10px !important;
}
.AboutUs-KnowAboutLearning-list p span{
    margin-left:24px;
}






/* know about column 2 (image area) */
.AboutUs-KnowAboutLearning-column2 > div{
    position: relative;
    border: #F56962 solid 2px;
    height: 300px;
    width: 250px;
    border-radius: 40px 0px 0px 0px;
    background: #fff;
    margin: auto;
}
.AboutUs-KnowAboutLearning-column2 > div > img {
    position: absolute;
    height: 300px;
    width: 250px;
    border-radius: 40px 0px 0px 0px;
    background: #ccc;
    bottom: -26px;
    left: 38px;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    ..AboutUs-KnowAboutLearning-section {
        padding: 36px 15px;
    }
    /* Know about learning */
    .AboutUs-KnowAboutLearning-section .cstm-h3 {
        font-size: 20px !important;
    }

    /* .AboutUs-KnowAboutLearning-section p {
        
    } */

    /* img */
    .AboutUs-KnowAboutLearning-column2 > div {
        margin: 0px;
    }

    .AboutUs-KnowAboutLearning-column1 {
        margin-top: 50px;
    }

    .AboutUs-KnowAboutLearning-list .cstm-p {
        padding: 0px;
    }

    .AboutUs-KnowAboutLearning-section .cstm-text {
        padding-right: 0;
        font-size: 18px !important;
    }


    .AboutUs-KnowAboutLearning-section .button {
        font-size: 18px;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){

    /* Know about learning */
    .AboutUs-KnowAboutLearning-section .cstm-h3 {
        font-size: 30px !important;
    }

    /* img */
    .AboutUs-KnowAboutLearning-column2 > div {
        margin: 0px;
    }
    
    .AboutUs-KnowAboutLearning-column1 {
        margin-top: 50px;
    }

}