
/* .Home-Container .Home-LearnNewSkills {
    
} */

/* -------------mobile view------------ */

@media only screen and (max-width: 480px) {

    .Home-Container {
        max-width: 100%;
    }
    
}