/* card */
/* .WhatOurStudents-Row2Component-card {
    width: 150px;
} */

/* card image */
/* .WhatOurStudents-Row2Component-card > div >img {
    height: 30px;
    width: 30px;
    padding-left: 5px;
    
} */

/* card heading */
/* .WhatOurStudents-Row2Component-card > div > h4 {
    font-size: 15px;
    font-family: Poppins;
    color: #5F5982;
    display: inline-block;
    padding-right: 5px;
} */

/* card row */
/* .WhatOurStudents-Row2Component-card-row {
    display: flex;
    align-items: center;
} */

/* card body */
/* .WhatOurStudents-Row2Component-card-body {
    font-size: 13px;
    font-family: Poppins;
    color: #5F5982;
} */

/*  */
.cstm-WhatOurStudents-Row2Component {
    background: rgba(255, 255, 255, 0.637);
    border-radius: 0px 40px 0px 0px;
    height: 170px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.cstm-WhatOurStudents-Row2Component:hover {
    background: white;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    transform: scale(1.03);
}



/* row 1 */
.cstm-WhatOurStudents-Row2Component-row-1 {
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
}

/* row 1 image */
.cstm-WhatOurStudents-Row2Component-row-1 > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* row 1 heading */
.cstm-WhatOurStudents-Row2Component-row-1 > h5 {
    font-size: 15px;
    font-family: Poppins;
    color: #5F5982;
    margin-left: 5px;
}

/* row 2 paragraph */
.cstm-WhatOurStudents-Row2Component-row-2 > p {
    font-size: 13px;
    font-family: Poppins;
    color: #5F5982;
}