/* dashboard */
.Dashboard .heading {
    font-size: 20px;
    font-family: system-ui;
    color: #171B1E;
}
.Dashboard .text {
    font-family: system-ui !important;
    font-size: 14px !important;
    color: #717579 !important;
}

/* calender */
/* calander row */
.Dashboard .calendarRow {
    background: white;
    border-radius: 15px;
}
/* calendar nav */
.Dashboard .react-calendar__navigation {
    padding-bottom: 10px;
}
/* nav label */
.Dashboard .react-calendar__navigation__label {
    background: white;
    border: none;
    font-family: Poppins;
    color: #5F5982;
    font-size: 18px;
}
/* preview 2 button */
.Dashboard .react-calendar__navigation__prev2-button {
    background: white;
    border: none;
}
/* preview button */
.Dashboard .react-calendar__navigation__prev-button {
    background: white;
    border: none;
}
/* next 2 button */
.Dashboard .react-calendar__navigation__next2-button {
    background: white;
    border: none;
}
/* next button */
.Dashboard .react-calendar__navigation__next-button {
    background: white;
    border: none;
}
/* month view week days */
.Dashboard .react-calendar__month-view__weekdays {
    text-align: center;
    font-family: Poppins;
    color: #5F5982;
    font-size: 18px;
}
/* weekdays text */
.Dashboard abbr {
    text-decoration: none !important;
    color: #5F5982;
    font-size: 18px !important;
    font-family: Poppins;
}
/* month view */
.Dashboard .react-calendar__month-view {
    line-height: 2;
}
/* month view days button */
/* .cstm-aclendar .react-calendar__month-view__days > button {
    border: none;
    background: none;
} */
.Dashboard .react-calendar__tile {
    border: none;
    background: none;
    border-radius: 100%;
}
.Dashboard .react-calendar__tile:focus {
    background: #F56962;
    color: white !important;
}

/* line chart */
.Dashboard .chart-row {
    background: white;
    border-radius: 15px;
}

/* doughntchart */
.Dashboard .doughntchart-row {
    background: white;
    border-radius: 15px;
}
.Dashboard .doughntchart {
    height: 136px;
    width: 136px;
}
.Dashboard .button {
    color: white;
    font-size: 18px;
    font-family: system-ui;
    background: #FF6175;
    border-radius: 15px;
  }

  /* recent summary */
  .Dashboard .button1 {
    background: #FFE7EA;
    font-size: 18px;
    font-family: system-ui;
    color: #FF6175;
    border-radius: 15px;
  }

  .Dashboard .RecentStudents{
    background: white;
    border-radius: 15px;
}
  