/* -------------mobile view---------- */


@media only screen and (max-width: 480px)
{

    .TV-cstmTab {
        margin-top: 200px !important;
    }

}

/* -------------tab view---------- */


@media only screen and (max-width: 767px)
{

    .TV-cstmTab {
        margin-top: 200px !important;
    }

}