
/* container fluid */
.ContactUsCards-containerfluid {
    margin-top: 100px;
    margin-bottom: 70px;


}

/* container */
/* .ContactUsCards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} */
.card_cstm{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
    border: 0px !important;
    border-radius: 8px;
}
.card_icon{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    
}
.card_icons_bg_phone{
    background: #DA2D29;
}
.card_icons_bg_email{
    background: #FCC73E;
}
.card_icons_bg_address{
    background: #4BC082;
    
}
.card_heading_cstm{
    font-size: 16px !important;
    line-height: 20px;
    color: #7D7F82 !important;
    font-weight: 200;
}
.card_desc_cstm{
    font-size: 16px !important;
    line-height: 20px;
    color: #252628 !important;
    font-weight: 300;
    
}
.card_descr p{
    text-align: left;
}



/*--------- mobile view -----------------*/

@media only screen and (max-width: 480px){

    .ContactUsCards-containerfluid .cstm-row-col {
        padding: 15px;
    }


}

/* ---------tablet view ----------------- */

@media only screen and (max-width: 767px){

    .ContactUsCards-containerfluid .cstm-row-col {
        padding: 15px;
    }

}