/* --------------choose your fav--------------- */

/* Choose favourite courses (container) */
.choosefav-cstm-container-1 {
    height: 310px;
    width: 830px;
    margin-top: 40px;
}

/* Choose favourite courses (row-1) */
.choosefav-cstm-row-1 {
    padding-right: 10px;
    padding-left: 6px;
    width: 800px;
    margin: 0px;
}

/* Choose favourite courses (heading) */
.choosefav-cstm-row-1 > h4 {
    color: #302D3A;
    font-size: 27px;
    font-family: Poppins;
    margin-bottom: 0px;
    padding: 0px;
}

/* See all Categories (button) */
.choosefav-cstm-row-1 > button {
    background: #F56962;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

/* Choose favourite courses (row-2) */


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .ChooseFavouriteCourses .heading {
        font-size: 20px !important
    }

    /* see all button */
    .ChooseFavouriteCourses .button {
        display: flex;
        margin-top: 8px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 375px){

    .ChooseFavouriteCourses .heading {
        font-size: 18px !important
    }

    /* see all button */
    .ChooseFavouriteCourses .button {
        display: flex;
        margin-top: 8px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 320px){

    .ChooseFavouriteCourses .heading {
        font-size: 16px !important
    }

    /* see all button */
    .ChooseFavouriteCourses .button {
        display: flex;
        margin-top: 8px;
        font-size: 9px;
    }

}

/*--------- tablet view -----------------*/

@media (min-width: 426px) and (max-width: 767px){
    
    .ChooseFavouriteCourses .heading {
        font-size: 30px !important
    }

    /* see all button */
    .ChooseFavouriteCourses .button {
        display: flex;
        margin-top: 8px;
    }


}