
body {
    font-family: Poppins;
}

p {
    font-size: 14px !important;
    font-family: Muli !important;
    color: #7A7A7A !important;
}

h4 {
    font-size: 18px;
    color: #302D3A;
}

h5 {
    font-size: 16px;
    color: #302D3A;
}

.SI-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.SI-C1-R1{
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.SI-C1-R1 > a {
    padding: 0px !important;
}

.SI-C1-R2{
    padding-top: 20px;
    display: grid;
    
}
.SI-C1-R2 > div :nth-child(1) {
    padding-right: 0px;
}
.SI-C1-R2 > div :nth-child(2) {
    padding-left: 0px;
}
.SI-C1-R2 > div :nth-child(2) > p {
    text-align: left;
}

.SI-C1-R3 > div > a > img {
    height: 50px;
    width: 210px;
}
.SI-C1-R3 > div {
    display: flex;
    jusSIfy-content: center;
}
.SI-C1-R3 {
    display: flex;
    flex-direcSIon: column;
    margin-top: 10px;
}
.SI-C1-R3 > div :nth-child(2) {
    margin: 3px 0px;
}
