

/* cstm card  */
.CourseC-card {
    /* height: 515px;
    width: 370px; */
    /* width: 32%;
    margin-bottom: 2%; */
    transition: all 0.5s ease
}
.CourseC-card:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    transform: scale(1.03);
}

/* 3 dots button */
.cstm-CourseC-dropdown {
    text-align: end;
    padding-right: 10px;
}
.cstm-CourseC-dropdown:hover .dropdown-menu {
    display: block;
    left: auto !important;
    right: 10px !important;
    
}
.cstm-CourseC-dropdown > a > img {
    height: 4px;
    width: 18px;
}

/* img */
.CourseC-img {
    text-align: center;
}
.CourseC-img > img {
    /* height: 263px; */
    /* width: 336px; */
    width: 100%;
}

/* star watch play */
.CourseC-SWP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 10px 0px;
}
.CourseC-SWP > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.CourseC-SWP > span > img {
    height: 24px;
    width: 24px;
    margin-right: 3px;
}
.CourseC-SWP > span > p {
    font-size: 10px !important;
    color: #5F5982;
    font-family: Poppins;
}

/* heading */
.CourseC-card-body {
    line-height: 5;
    padding-left: 10px;
    padding-right: 10px;
}
.CourseC-card-body > h4 {
    font-size: 18px;
    font-family: Poppins;
    color: #302D3A;
}
.CourseC-card-body > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.CourseC-card-body > div :nth-child(1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
}
.CourseC-card-body > div :nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.CourseC-card-body > div :nth-child(1) > :nth-child(1) {
    margin-right: 3px;
}
.CourseC-card-body > div :nth-child(1) > span > img {
    height: 30px;
    width: 30px;
}
.CourseC-card-body > div :nth-child(1) > span > p {
    font-size: 10px !important;
    font-family: Poppins;
    color: #7A7A7A;
}
.CourseC-card-body > div :nth-child(2) > :nth-child(1) > p {
    font-size: 12px !important;
    font-family: Poppins;
    color: #CAC6D4 !important;
    text-decoration: line-through;
}
.CourseC-card-body > div :nth-child(2) > :nth-child(2) > p{
    font-size: 13px !important;
    font-family: Poppins;
    color: #F68C20 !important;
    font-weight: bold;
}
.CourseC-card-body > div :nth-child(2) > :nth-child(2) {
    margin-left: 5px;
}

/* -------------------------------------------- */
/* @media only screen and (min-width: 768px) {} */