body {
    font-family: Poppins;
}
p {
    margin: 0px !important;
    font-size: 14px;
}


/* heading */
.TA2-R1 {
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.TA2-R1 > h4 {
    font-size: 18px;
    color: #302D3A;
}
.TA2-R1 > a > Button {
    height: 30px;
    width: 92px;
    color: white;
    background: #05CC69;
    padding: 0px;
}
.TA2-R1 > a > Button:hover {
    color: white;
}

/* paragraph */
.TA2-R2 {
    padding: 10px;
    border: #CAC6D4 solid 1px;
    border-radius: 5px;
    margin-top: 20px;
}
.TA2-R2 > p {
    font-family: Muli !important;
    color: #7A7A7A;
    text-align: left;
}