/* container */
.Summary {
    border: #CAC6D4 solid 1px
}

/* title summary */
.Summary .titlesimmary {
    color: #717579 !important;
    font-size: 21px !important;
    font-family: system-ui !important;

}

/* row 1 border bottom */
.Summary .borderbottom {
    border-bottom: #CAC6D4 solid 1px;
}

/* h5 tag */
.Summary h5 {
    color: #717579;
    font-size: 27px;
    font-family: system-ui;
    font-weight: bold;
}

/* p tag */
.Summary p {
    color: #7A7A7A !important;
    font-size: 27px !important;
    font-family: system-ui !important;
}

.Summary .details{
    
    display: grid;
    
}