/* @media only screen and (min-width: 992px) {} */
body {
    font-family: Poppins;
}
p {
    margin: 0px !important;
}


/* cstm container fluid */
.TVHA-containerfluid {
    background-image: url('../../../images//Bg.png');
    height: 279px;
    padding-top: 100px;
    margin-bottom: 20px;
    
    
}

/* cstm container */
.TVHA-cstm-section-R1 {
    margin-bottom: 60px;
    align-items: center;
}


/* heading */
.TVHA-container > h3 {
font-size: 40px !important;
color: #fff !important;

}

/* ----------------section containg details----------------------------------- */
.cstm-section {
background: white;
/* height: 200px; */
margin-top: 30px;
z-index: 1;
}

/* img */
.TVHA-section-R1-C1 {
    text-align: center;
}
.TVHA-section-R1-C1 > img {
height: 84px;
width: 84px;
background: #ccc;
border-radius: 50%;
}


/* R1 ---Paul-walker & top--- */
.TVHA-section-R1-C2-R1{
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}
/* heading */
.TVHA-section-R1-C2-R1 > h5 {
    color: #302D3A;
    font-size: 22px;
    margin-right: 12px;
}
/* Top teacher area */
.TVHA-section-R1-C2-R1 > p {
    font-size: 14px;
    font-family: Muli !important;
    background: #6C63FF;
    color: white !important;
    padding: 2px;
}
.TVHA-section-R1-C2-R1 > p > img {
    height: 16px;
    width: 16px;
}


/* R2 ---Creative coder & Designer--- */
.TVHA-section-R1-C2-R2 > p {
    font-size: 18px;
    color: black;
}


/* course student rating area */
.TVHA-section-R1-C3 {
    display: inline-grid;
}
.TVHA-section-R1-C3 > div {
    justify-content: space-evenly;
}
.TVHA-section-R1-C3 :nth-child(1) > p {
    font-size: 22px;
    color: #302D3A;
    padding-left: 18px;
}
.TVHA-section-R1-C3 :nth-child(1) > p > img {
    height: 16px;
    width: 16px;
}
.TVHA-section-R1-C3 :nth-child(2) > p {
    font-size: 18px;
    color: black;
}


/* buttons area students-lectures & messages */
.TVHA-section-R1-C4 {
    text-align: center;
}
.TVHA-section-R1-C4 > button {
    font-size: 14px;
    color: white;
}
.TVHA-section-R1-C4 > button:hover {
    color: white;
}
.TVHA-section-R1-C4 :nth-child(1) {
    background: #F56962;
    margin-bottom: 2px;
}
.TVHA-section-R1-C4 :nth-child(2) {
    background: #05CC69;
    
}


/* about courses review area */

.TVHA-cstm-section-R2 .nav {
    flex-wrap: wrap;
    border: none;
}
.TVHA-cstm-section-R2 > ul > li > a {
    font-size: 16px !important;
    color: #544E7A !important;
    background: none !important;
    border: none !important;
}

.TVHA-cstm-section-R2 .nav-link.active {
    color: #F56962 !important;
    border-bottom: #F56962 solid 1px !important;
}



/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .TVHA-containerfluid {
        margin-bottom: 60px;
    }

    .TVHA-containerfluid .cstm-p {
        font-size: 10px !important;
    }

    .TVHA-containerfluid .cstm-p.cstm-textLeft {
        text-align: left;
    }
    .TVHA-containerfluid .cstm-h5 {
        font-size: 18px !important;
    }
    .TVHA-containerfluid .cstm-button {
        font-size: 11px !important;
        width: auto !important;
    }
    .TVHA-containerfluid .cstm-button.one {
        padding: 8px !important;
    }
    .TVHA-containerfluid .cstm-button.two {
        padding: 8px 26px !important;
    }

}


/* -------------tab view---------- */


@media (min-width: 481px) and (max-width: 767px){

    .TVHA-containerfluid {
        margin-bottom: 40px;
    }

    .TVHA-containerfluid .cstm-p {
        font-size: 12px !important;
    }

    .TVHA-containerfluid .cstm-p.cstm-Left {
        text-align: left;
    }
    .TVHA-containerfluid .cstm-h5 {
        font-size: 20px !important;
    }
    .TVHA-containerfluid .cstm-button {
        font-size: 11px !important;
        width: auto !important;
    }
    .TVHA-containerfluid .cstm-button.one {
        padding: 8px !important;
    }
    .TVHA-containerfluid .cstm-button.two {
        padding: 8px 26px !important;
    }

}
