
body {
    background: #F1F3F8;
}

.tp-cstmTA {
    margin-top: 150px;
    /* background: white; */
    /* padding: 7px 42px; */
    /* width: 62%; */
}
.tp-cstmTI {
    margin-top: 150px;
    /* background: white; */
    /* padding: 7px 7px; */
    /* width: 32%; */
    padding: 0px;
}

.tp-cstm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    
    .tp-cstm {
        display: block !important;
    }
    .tp-cstm .tp-cstmTI {
        width: 100%;
        margin-top: 50px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .tp-cstm .tp-cstmTA {
        width: 100%;
        margin-top: 50px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}

/* -------------tab view---------- */


@media only screen and (max-width: 767px){

    .tp-cstm {
        display: block !important;
    }
    .tp-cstm .tp-cstmTI {
        width: 100%;
        margin-top: 50px;
    }

    .tp-cstm .tp-cstmTA {
        width: 100%;
        margin-top: 50px;
    }

}