
/* container */
    /* background: #EFFCFA;
    */
.ibelieve-section{
     padding:60px 0;
}
.ibelieve-section-inner{
    background: #EFFCFA;
    padding:48px;
}
.ibelieve-section-inner-content{
    padding:20px 60px;
}
.ibelieve-section-inner-content p{
    color:#302D3A;
    text-align:inherit;
    font-size:32px !important;
    font-weight:300;

}
.IBelieve-author p{
    text-align:inherit;
    padding-left:60px;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .ibelieve-section {
        padding: 36px 15px;
    }
    /* I believe in lifelong */
    .ibelieve-section .cstm-p {
        font-size: 18px !important;
    }
    .ibelieve-section-inner-content {
        padding: 0;
    }
    .ibelieve-section-inner {
        padding: 48px 15px;
    }

}

/* ---------tablet view ----------------- */

@media (min-width: 426px) and (max-width: 767px){


    /* I believe in lifelong */
    .ibelieve-section .cstm-p {
        font-size: 30px !important;
    }


}