/* course heading */
.CHcontainer .course{
    font-size: 21px;
    font-family: Poppins;
    color: #454545;
    font-weight: bold;
}
/* trans id text*/
.CHcontainer .transid{
    color: #454545 !important;
    font-size: 18px !important;
    font-family: Poppins !important;
    margin-right: 5px !important;
    font-weight: bold;
}
/* account text */
.CHcontainer .account{
    color: #3EAF1E !important;
    font-size: 18px !important;
    font-family: Poppins !important;
    font-weight: bold;
}
/* date and time text */
.CHcontainer .dateANDtime{
    color: #454545 !important;
    font-size: 15px !important;
    font-family: Poppins !important;
    text-align: left;
}
/* cash text */
.CHcontainer .cash{
    color: #3FB21F !important;
    font-size: 23px !important;
    font-family: Poppins !important;
    font-weight: bold;
}
/* view text */
.CHcontainer .view{
    color: #454545 !important;
    font-size: 18px !important;
    font-family: Poppins !important;
    font-weight: bold;
}