

/* cstm card  */
.CSC-card {
    /* height: 515px;
    width: 370px; */
    /* width: 32%;
    margin-bottom: 2%; */
    transition: all 0.5s ease
}
.CSC-card:hover {
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
    transform: scale(1.03);
}

/* 3 dots button */
.cstm-CSC-dropdown {
    text-align: end;
    padding-right: 10px;
}
.cstm-CSC-dropdown:hover .dropdown-menu {
    display: block;
    left: auto !important;
    right: 10px !important;
    
}
.cstm-CSC-dropdown > a > img {
    height: 4px;
    width: 18px;
}

/* img */
.CSC-img {
    text-align: center;
}
.CSC-img > img {
    /* height: 263px; */
    /* width: 336px; */
    width: 100%;
}

/* star watch play */
.CSC-SWP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 10px 0px;
}
.CSC-SWP > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.CSC-SWP > span > img {
    height: 24px;
    width: 24px;
    margin-right: 3px;
}
.CSC-SWP > span > p {
    font-size: 14px !important;
    color: #5F5982 !important;
    font-family: Poppins !important;
}
.CSC-card .name {
    font-size: 14px !important;
    color: #5F5982 !important;
    font-family: Poppins !important;
}

.CSC-card .price {font-size: 18px !important;
    color: #5F5982 !important;
    font-family: Poppins !important;}
.CSC-card .dprice{
    font-size: 16px !important;
    color: #5F5982 !important;
    font-family: Poppins !important;
}

/* heading */
.CSC-card-body {
    line-height: 5;
    padding-left: 10px;
    padding-right: 10px;
}
.CSC-card-body > h4 {
    font-size: 18px;
    font-family: Poppins;
    color: #302D3A;
}
.CSC-card-body > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.CSC-card-body > div :nth-child(1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
}
.CSC-card-body > div :nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.CSC-card-body > div :nth-child(1) > :nth-child(1) {
    margin-right: 3px;
}
.CSC-card-body > div :nth-child(1) > span > img {
    height: 30px;
    width: 30px;
}
.CSC-card-body > div :nth-child(1) > span > p {
    font-size: 10px !important;
    font-family: Poppins;
    color: #7A7A7A;
}
.CSC-card-body > div :nth-child(2) > :nth-child(1) > p {
    font-size: 12px !important;
    font-family: Poppins;
    color: #CAC6D4 !important;
    text-decoration: line-through;
}
.CSC-card-body > div :nth-child(2) > :nth-child(2) > p{
    font-size: 13px !important;
    font-family: Poppins;
    color: #F68C20 !important;
    font-weight: bold;
}
.CSC-card-body > div :nth-child(2) > :nth-child(2) {
    margin-left: 5px;
}
.CSC-card .title {
    color: #302D3A;
    font-size: 24px;
    font-family: Poppins;

}

/* -------------------------------------------- */
/*extra------------- */
.CSC-card .carousel-control-prev, .CSC-card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #cd3a54;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.carousel-control-prev {
	left: 40%;
	top: 110%;
}
.carousel-control-next {
	right: 40%;
	top: 110%;
}