/* container */
.OurMost-container {
    width: 800px;
}

/* row 1 heading */
.OurMost-row1 > h4 {
    font-family: Poppins;
    text-align: center;
    color: #302D3A;
}

/* row 2  */
.OurMost-container> div > div > a {
    text-align: end;
}

.OurMost-row2-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row2-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
/* #img1 {
    display: none;
} */
.OurMost-row2-row2 {
    background: #EFEFF6;
    display: none;

}

.OurMost-row2-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row2-row2 :nth-child(2) {
    font-size: 14px;
}

/* row 3  */
.OurMost-row3-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row3-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
.OurMost-row3-row2 {
    background: #EFEFF6;
    display: none;
}

.OurMost-row3-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row3-row2 :nth-child(2) {
    font-size: 14px;
}

/* row 4  */
.OurMost-row4-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row4-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
.OurMost-row4-row2 {
    background: #EFEFF6;
    display: none;
}

.OurMost-row4-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row4-row2 :nth-child(2) {
    font-size: 14px;
}

/* row 5  */
.OurMost-row5-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row5-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
.OurMost-row5-row2 {
    background: #EFEFF6;
    display: none;
}

.OurMost-row5-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row5-row2 :nth-child(2) {
    font-size: 14px;
}

/* row 6  */
.OurMost-row6-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row6-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
.OurMost-row6-row2 {
    background: #EFEFF6;
    display: none;
}

.OurMost-row6-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row6-row2 :nth-child(2) {
    font-size: 14px;
}

/* row 7  */
.OurMost-row7-row1 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row7-row1 > a > img {
    height: 20px;
    width: 20px;
}
/* toogle area */
.OurMost-row7-row2 {
    background: #EFEFF6;
    display: none;
}

.OurMost-row7-row2 > p {
    font-family: Poppins;
    color: #5F5982;
}
.OurMost-row7-row2 :nth-child(2) {
    font-size: 14px;
}

/* style by Naveed */

.panel,
.panel-body {
  box-shadow: none;
}

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a:after {
  content: '-';
  float: right;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.cstm_fAq .panel-title{
    margin-bottom: 0;
}
.cstm_fAq .panel-title a{
 font-size: 22px !important;
 font-weight: 500 !important;
 color: #5F5982 !important;
}
.cstm_fAq .panel-default{
    
    margin-bottom: 16px;
}
.cstm_fAq .panel-collapse{
    background-color: #EFEFF6;

}
.cstm_fAq .panel-body{
    padding: 10px 16px 16px 16px;
}

 /* --------mobile view----------------- */

 @media only screen and (max-width: 425px)
{
    .cstm_fAq .panel-title a {
        font-size: 18px !important;
    }
    .OurMost-containerfluid .panel-body {
        font-size: 16px;
    }
    .OurMost-containerfluid .cstm-h3 {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .OurMost-containerfluid {
        margin-bottom: 20px;
    }
}

/* -------------tab view---------- */


@media (min-width: 426px) and (max-width: 767px)
{
    .cstm_fAq .panel-title a {
        font-size: 17px !important;
    }
}