/* dropdown */
.cstm-CCAssessment-dropdownmenu a {
    border-bottom: #C9C9C9 solid 1px;
}



/* open button */
.CCAssessment-container .button {
    background: #05CC69;
    color: white;
    font-size: 12px;
    font-family: Poppins;
}