.PI-C1-R1{
    padding-bottom: 10px;
    border-bottom: #544E7A solid 1px;
}
.PI-C1-R1 > a {
    padding: 0px !important;
}

.PI-C1-R2{
    padding-top: 20px;
    display: grid;
    
}
.PI-C1-R2 > div :nth-child(1) {
    padding-right: 0px;
}
.PI-C1-R2 > div :nth-child(2) {
    padding-left: 0px;
}
.PI-C1-R2 > div :nth-child(2) > p {
    text-align: left;
}

.PI-C1-R3 > div > a > img {
    height: 50px;
    width: 210px;
}
.PI-C1-R3 > div {
    display: flex;
    jusPIfy-content: center;
}
.PI-C1-R3 {
    display: flex;
    flex-direcPIon: column;
    margin-top: 10px;
}
.PI-C1-R3 > div :nth-child(2) {
    margin: 3px 0px;
}

/* -------------------- */
.PI-C1-R0 .text{
    font-size: 22px !important;
    color: #302D3A !important;
    font-family: Poppins !important;
}


/* ----------tab view ------------ */
@media only screen and (max-width: 767px){

    .CProfileinfo-container {
        position: relative !important;
    }


}


/* ----------mobile view ------------ */
@media only screen and (max-width: 480px){

    .CProfileinfo-container {
        position: relative !important;
    }

}