/* container */
.W-container {
    margin-top: 150px;
    margin-bottom: 100px;
    
}


/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .cstm-Wallet-padding {
        padding: 0 15px;
    }

}

/* -------------tab view---------- */


@media only screen and (max-width: 767px){

    .W-container .cstm-div {
        display: flex;
        flex-direction: column;
        max-height: none !important;
    }

}