/* container */
.Review-container {
    background: #FEF0EF;
}

/* stars */
.cstm-rate {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cstm-rate .rate {
    height: 15px !important;
}

.rate {
    float: left;
    height: 46px !important;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
    
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px !important;
    color:#ccc !important  ;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700 !important;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217 !important;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08 !important;
}

/* progress bar */
.cstm-progress {
    width: 100%;
}
.cstm-progress .progress-bar {
    background-color: #F68C20;
}

/* heading  */
.cstm-star .heading {
    font-family: Poppins;
    text-align: center;
    font-size: 37px;
}
/* text */
.cstm-star .text{
    font-size: 12px !important;
    color: #5F5982;
    font-family: Poppins;
}

/* student feedback */
.stu-fb{
    color: #302D3A;
    font-size: 18px;
    font-family: Poppins;
}


/* -------------mobile view---------- */


@media only screen and (max-width: 480px){}

/* -------------tab view---------- */


@media only screen and (max-width: 767px){

    .Review-container .cstm-row1-div2 {
        display: flex;
        flex-direction: column;
    }
    .Review-container .cstm-row1-div2 .row1-div2-col2 {
        padding-left: 15px !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}