/* container fluid background color */
.GetYourCourses-containerfluid-1 {
    background: #005D8A;
    margin-top: 80px;
}

/* GetYourCourses-container-1 */
.GetYourCourses-container-1 {
    /* height: 310px; */
    width: 830px;
    margin-top: 40px;
}

/* Get choice of Your Courses (heading) */
.GetYourCourses-row-1 > h4 {
    color: #fff;
    font-size: 27px;
    font-family: Poppins;
}

/* View all (button) */
.GetYourCourses-row-1 > button {
    background: #F56962;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
}

/* drop down (Button text) */
.GetYourCourses-dropdown > button {
    color: white;
}
.h4-custom{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){

    .GetYourCourses-containerfluid-1 .r1 .c1 .h4-custom {
        font-size: 20px !important;
    }
    .GetYourCourses-containerfluid-1 .r1 .c2 .cstm-button {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 375px){

    .GetYourCourses-containerfluid-1 .r1 .c1 .h4-custom {
        font-size: 18px !important;
    }
    .GetYourCourses-containerfluid-1 .r1 .c2 .cstm-button {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 320px){

    .GetYourCourses-containerfluid-1 .r1 .c1 .h4-custom {
        font-size: 16px !important;
    }
    .GetYourCourses-containerfluid-1 .r1 .c2 .cstm-button {
        font-size: 9px !important;
    }
}

/* tablet view */

@media (min-width: 426px) and (max-width: 767px) {


    .GetYourCourses-containerfluid-1 .r1 .c1 .h4-custom {
        font-size: 30px !important;
    }

}