
/* style by Naveed */

.contact_form_heading{
    font-size: 30px;
    color: #302D3A;
    font-weight: 700;
}
.contact-form-cstm{
    border: none;
    background: #efeaea;
    height: 60px;
}
.text_area_cstm{
    border: none;
    background: #efeaea;
}


  /* --------mobile view----------------- */

  @media only screen and (max-width: 425px) {
      .GetInTouch .contact_form_heading {
          font-size: 20px;
          text-align: left;
      }
  }