
label {
    font-size: 18px;
    font-family: Poppins;
    color: #302D3A;
}


.NC-container {
    padding: 20px 60px;
}

/* row 1 img */
.NC-R1 {
    display: flex;
    justify-content: space-around;
}
.NC-R1 > :nth-child(1) > :nth-child(2) {
    margin-top: 40px;
}
.NC-R1 > :nth-child(1) > :nth-child(1) > img {
    /* height: 329px;
    width: 421px; */
    width: 90%;
}
.NC-R1 :nth-child(1) > :nth-child(2) > :nth-child(1) > img {
    /* height: 100px;
    width: 104px; */
    height: 70px;
    width: 71px;
    border-radius: 5px;
}
.NC-R1 :nth-child(1) > :nth-child(2) > :nth-child(2):nth-child(3) > img {
    height: 31px;
    width: 31px;
}
.NC-R1 :nth-child(1) > :nth-child(2) > :nth-child(1) {
    border-radius: 5px;
}
.NC-R1 :nth-child(1) > :nth-child(2) > :nth-child(2) {
    border: #707070 solid 1px;
    border-radius: 5px;
    height: 70px;
    width: 71px;
    margin: 0px 25px;
    text-align: center;
    padding: 18px 0px;
}
.NC-R1 :nth-child(1) > :nth-child(2) > :nth-child(3) {
    border: #707070 solid 1px;
    border-radius: 5px;
    height: 70px;
    width: 71px;
    text-align: center;
    padding: 18px 0px;
}


.NC-R1 :nth-child(2) > :nth-child(2) > div > select {
    border: #CAC6D4 solid 1px;
    height: 38px;
    border-radius: 3px;
}


/* row 2 */
.NC-R2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.NC-R2 > :nth-child(1) > div > div > select {
    border: #CAC6D4 solid 1px;
    height: 38px;
    border-radius: 3px;
}
.NC-R2 > :nth-child(1) > div > :nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.NC-R2 > :nth-child(1) > :nth-child(1) {
    padding: 0px 20px;
}
.NC-R2 > :nth-child(1) > :nth-child(2) {
    line-height: 2;
}

/* row 3 */
.NC-R3 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.NC-R3 > textarea {
    border: #CAC6D4 solid 1px;
}


/* row 4 */
.NC-R4 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.NC-R4 > :nth-child(2) {
    display: flex;
    flex-direction: column;
}
.NC-R4 > :nth-child(2) > select {
    border: #CAC6D4 solid 1px;
    height: 38px;
    border-radius: 3px;
}
.NC-R4 > div > button {
    background: #05CC69 !important;
    color: white;
    font-size: 16px;
    font-family: Poppins;
}


/* row 5 */
.NC-R5 {
    text-align: center;
    margin-top: 40px;
}
.NC-R5 > button {
    background: #05CC69 !important;
    color: white;
    font-size: 16px;
    font-family: Poppins;
}