

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}




/*------------------------ Learn new skills---------------------------- */
.mb-70{
  margin-bottom: 70px;
}
.card_heading_cstm{
  font-size: 16px !important;
  line-height: 20px;
  color: #7D7F82 !important;
  font-weight: 200;
}
