
.OnlineLessons-containerfluid {
    background: #EFFCFA;
}

.OnlineLessons-container {
    /* width: 800px; */
}

.OnlineLessons-container > div {
    text-align: center;
}

/* heading */
.OnlineLessons-container > div > h3 {
    font-size: 30px !important;
    color: #302D3A !important;
    font-family: Poppins !important;
    margin-bottom: 16px !important;
}

/* paragraph */
.OnlineLessons-container > div > p {
    font-size: 16px !important;
    color: #5F5982 !important;
    font-family: Poppins !important;
}

/* button */
.OnlineLessons-container > div > button {
    background: #F56962;
    font-size: 20px !important;
    color: #fff !important;
    font-family: Poppins !important;
    
}

/* --------mobile view----------- */

@media only screen and (max-width: 425px) {
    .OnlineLessons-containerfluid .cstm-h3 {
        font-size: 20px !important;
    }
    .OnlineLessons-containerfluid .cstm-p {
        font-size: 18px !important;
    }
    .OnlineLessons-containerfluid .button {
        font-size: 18px !important;
    }
}

