/* card */
.GetYourCourses-Row2Component-card {
    width: 227px;
    
}

/* card body */
.GetYourCourses-Row2Component-card-body {
    padding-top: 10;
}


.GetYourCourses-containerfluid-1 .GetYourCourses-Row2Component-card-body .cstm-img {
    height: 200px;
    max-height: 100%;
    width: 200px;
    max-width: 100%;
}

/* card body (div) */
.GetYourCourses-Row2Component-card-body > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* card body (h4) */
/* .GetYourCourses-Row2Component-card-body > h4 {
    font-size: 15px;
    font-family: Poppins;
    color: #302D3A;
} */

/* card body small image */
.GetYourCourses-Row2Component-card-body > div > span > img {
    height: 30px;
    width: 30px;
}

/* card body (span) */
.GetYourCourses-Row2Component-card-body > div > span {
    font-size: 12px;
    font-family: Poppins;
    padding: 1px;
    color: #7A7A7A;
}
.card-card-title{
    font-size: 24px;
    line-height: 32px;
    color: #302D3A;
    font-weight: 500;
}
.mini-img{
    width: 40px;
    height: 40px;
}
.userNameTitle{
    color: #7A7A7A;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.prceCut{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #CAC6D4;
}
.prceDiscounted{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #F68C20;
}
.GetYourCourses-Row2Component-card{
    transition: all 0.5s ease;
    cursor: pointer;
}
.GetYourCourses-Row2Component-card:hover{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
/* transform: scale(1.03); */
background: #FEF3E8;
    transform: translateY(-10px) !important;
    transform: translateX(0px);
    transition: all .5s ease;
}


/* ------------mobile view-------------- */

@media only screen and (max-width: 425px) {
    
    .GetYourCourses-Row2Component-card-body .card-card-title {
        font-size: 20px;
    }

}

@media only screen and (max-width: 375px) {
    
    .GetYourCourses-Row2Component-card-body .card-card-title {
        font-size: 18px;
    }

}

@media only screen and (max-width: 320px) {
    
    .GetYourCourses-Row2Component-card-body .card-card-title {
        font-size: 16px;
    }

}