/* chart */
.DBfinance .chart {
    height: 400px;
    width: 600px;
}
.DBfinance .chart-row {
    background: white;
    border-radius: 15px;
}

/* button */
.DBfinance .button {
    color: #717579;
    font-size: 16px;
    font-family: monospace;
    border: #EBDCFF solid 1px;
    border-radius: 15px;
    background: none;
    outline: none;
}