/* dropdown */
.cstm-CCAssessment-dropdownmenu a {
    border-bottom: #C9C9C9 solid 1px;
}

/* pagination */
.CA-pagination .page-item.active {
    background: #05CC69;
} 


/* -------------mobile view---------- */


@media only screen and (max-width: 480px){

    .CCAssessment-container td {
        font-size: 14px;
    }

}