/* conatiner */
.TPScontainer {
    margin-bottom: 100px;
}


/* -----------tab veiw---------------- */

@media only screen and (max-width: 767px){

    .TPScontainer .cstm-col1 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

}

/* ----------mobile view ------------ */
@media only screen and (max-width: 480px){

    .TPScontainer .cstm-col1 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

}