
.Course-R1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding-bottom: 10px; */
    /* border-bottom: #CAC6D4 solid 1px; */
    /* margin-bottom: 10px; */
}
.Course-R1 > h4 {
    font-size: 30px;
    color: #302D3A;
    font-family: Poppins;
}
.Course-R1 > button {
    font-size: 18px;
    font-family: Poppins;
    border: #CAC6D4 solid 1px;
    color: #5F5982;
}