/* MOdal heading */
.Mheader {
    font-size: 18px;
    font-family: Poppins;
    color: #5F5982;
}
/* modal label */
.Mlabel {
    font-size: 14px;
    font-family: Poppins;
    color: #5F5982;
}
/* modal input field */
.Mfield {
    border: #CAC6D4 solid 1px;
    height: 30px;
    border-radius: 5px;
}
.Mfield::placeholder {
    color: #7A7A7A;
}
/* modal button */
.Mbutton {
    background: #05CC69;
    font-size: 15px;
    font-family: Poppins;
    color: white;
}
.Mbutton:hover {
    background: #05CC69;
    color: white;
}
.Mbutton-red {
    background: #F56962;
    font-size: 15px;
    font-family: Poppins;
    color: white;
}
.Mbutton-red:hover {
    background: #F56962;
    color: white;
}
