/* container fluid background color */
.cstm-WhatOurStudents-containerfluid-1 {
    background: #005D8A;
    margin-top: 80px;
    padding-bottom: 80px;
}

/* WhatOurStudents-container-1 */
.cstm-WhatOurStudents-container-1 {
    /* height: 310px; */
    width: 830px;
    margin-top: 40px;
}

/* WhatOurStudents row 1 */
.cstm-WhatOurStudents-row-1 {
    display: flex;
    justify-content: space-between;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/* Get choice of Your Courses (heading) */
.cstm-WhatOurStudents-row-1 > h4 {
    color: #fff;
    font-size: 27px;
    font-family: Poppins;
}

/* arrow (button 1) */
.cstm-WhatOurStudents-row-1-btn-1 {
    background: #fff;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* arrow (button 2) */
.cstm-WhatOurStudents-row-1-btn-2 {
    background: #F56962;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.cstm-WhatOurStudents-row-2 {
    display: flex;
    justify-content: space-between;
}


/* carousel */
.cstm-carousel .slick-slider {
    width: 100%;
}


/*--------- mobile view -----------------*/

@media only screen and (max-width: 425px){
    .cstm-carousel {
        padding-left: 12px;
        padding-right: 12px;
    }

    .cstm-WhatOurStudents-containerfluid-1 .cstm-h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px){
    .cstm-WhatOurStudents-containerfluid-1 .cstm-h4 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 375px){
    .cstm-WhatOurStudents-containerfluid-1 .cstm-h4 {
        font-size: 16px;
    }
}